<%= title "Products" %>
<h3>Products</h3>
<%= form_tag({:action => "all"}, {:method => "get"}) do %>
<% if @transform_column=='product_id' %>
	<center><%= submit_tag 'Incomplete Product', class: 'btn btn-link'%></center>
<% end %>

<div class="form-group container-fluid">
	<%= render "partials/product_filter" %>
</div>

<%= render "partials/product", pending_stock_h: @pending_stock_h %>
<% end %>
