<%= title 'Warehouse'%>
<%= form_for @warehouse_examining, :url => {:controller => "product", :action => "warehouse_counting"}  do |f| %>
<%= hidden_field_tag :pending_products, @product_list, multiple: true%>
<%= f.hidden_field :product_name%>
<%= f.hidden_field :product_no_ws_id%>

<!-- Mobile Version -->
<div class="row">
    <div class="col-md-4 col-xs-6">
      <%= @warehouse_examining.product_name%><br/>
    </div>
</div>
<div class="row">
  <div class="col-md-3 col-xs-6">
    <label>Ready:<%= OrderProduct.ready(@products.map(&:id)).map(&:qty).sum%></label>
  </div>
  <div class="col-md-3 col-xs-6">
    <label>On Order:<%= @warehouse_examining.on_order %></label>
  </div>
  <div class="col-md-3 col-xs-6">
    <label>Allocation:<%= @warehouse_examining.allocation %></label>
  </div>
  <div class="col-md-3 col-xs-6">
    <label>Stock:<%= @warehouse_examining.current_stock %></label>
  </div>
  <%= f.hidden_field :allocation, readonly: true%>
  <%= f.hidden_field :current_stock, readonly: true%>
  <%= f.hidden_field :on_order, readonly: true%>
</div>
<div class="row product-details">
  <%= f.fields_for "product", @product do |product_form|%>
  <div class="col-md-2 col-xs-4">
    <label for="pack_size">Case Size: <%= product_form.number_field :case_size, min: 0, max: 30, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'Case Size' %></label>
  </div>
  <div class="col-md-4 col-xs-4">
    <label for="location">
      Location:
      <%= product_form.text_field :row, size: 2, placeholder: 'row'%>
      <%= product_form.text_field :column, size: 2, placeholder:'column'%>
      <%= product_form.text_field :area, size: 2, placeholder:'area'%>
    </label>
  </div>
  <% end %>
</div>
<div class="row pack-count">
  <div class="col-md-2 col-xs-3">
    <label for="packs">Packs:<%= f.number_field :count_pack, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'Pack'} %></label>
  </div>
  <div class="col-md-2 col-xs-3">
    <label for="loose">Loose:<%= f.number_field :count_loose, {min: 0, max: 9999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'Loose'} %></label>
  </div>
  <div class="col-md-2 col-xs-3">
    <label for="sample">Sample:<%= f.number_field :count_sample, {min: 0, max: 9999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'Sample'} %></label>
  </div>
  <div class="col-md-1 col-xs-2">
    <input type="checkbox" name="latter_count" id="ios-checkbox" class="ios-toggle"/>
    <label for="ios-checkbox" class="checkbox-label" data-off="Now" data-on="Yes">Latter</label>
  </div>
</div>
<div class="distribution">
  <label>Total:<%= @warehouse_examining.current_total %></label>
  <label for="total-stock">Stock: <i class="count-total"></i></label>
  <label for="difference">Difference: <i class="difference"></i></label>
  <label for="remaining">Remain: <i class="remain-stock"></i></label>
  <%= f.hidden_field :current_total, readonly: true%>
  <%= f.hidden_field :count_total, class: 'count-total' %>
  <%= f.hidden_field :difference, class: 'difference' %>
</div>
<table style="margin-top: -10px;">
  <tr>
    <th></th>
    <th><%= 'WS' unless @product_ws.nil?%></th>
    <th><%= 'DM' unless @product_dm.nil?%></th>
    <th><%= 'VC' unless @product_vc.nil?%></th>
    <th><%= 'Retail' unless @product_retail.nil?%></th>
  </tr>
  <tr>
    <th>Current</th>
    <td><%= f.number_field :current_ws, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'WS', readonly: true} unless @product_ws.nil?%></td>
    <td><%= f.number_field :current_dm, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'DM', readonly: true} unless @product_dm.nil? %></td>
    <td><%= f.number_field :current_vc, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'VC', readonly: true} unless @product_vc.nil? %></td>
    <td><%= f.number_field :current_retail, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'Retail', readonly: true} unless @product_retail.nil? %></td>
  </tr>
  <tr>
    <th>Count</th>
    <td><%= f.number_field :count_ws, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'WS', class: 'distribuetd'} unless @product_ws.nil? %></td>
    <td><%= f.number_field :count_dm, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'DM', class: 'distribuetd'} unless @product_dm.nil? %></td>
    <td><%= f.number_field :count_vc, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'VC', class: 'distribuetd'} unless @product_vc.nil? %></td>
    <td><%= f.number_field :count_retail, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'Retail', class: 'distribuetd'} unless @product_retail.nil? %></td>
  </tr>
</table>
<div class="row">
  <div class="col-xs-2">
    <%= submit_tag 'Save', class: 'btn btn-primary'%>
  </div>
  <div class="col-xs-2">
    <%= submit_tag 'Skip', class: 'btn btn-default'%>
  </div>
</div>



<!-- Desktop Version -->

<% end %>

<script type="text/javascript">
  $(document).on('input', '[type=number]', function () {
    var caseSize = parseInt($('#warehouse_examining_product_case_size').val()) || 0;
    var countPack = parseInt($('#warehouse_examining_count_pack').val()) || 0;
    var countLoose = parseInt($('#warehouse_examining_count_loose').val()) || 0;
    var countSample = parseInt($('#warehouse_examining_count_sample').val()) || 0;

    var total = caseSize*countPack+countLoose+countSample;

    var distributed = 0
    $('input.distribuetd').each(function () {
      distributed += (parseInt($(this).val()) || 0);
    });
    var difference = parseInt($('#warehouse_examining_current_stock').val()) - total;

    $('.count-total').val(total);
    $('.difference').val(difference);
    $('i.count-total').html(total);
    $('i.difference').html(difference);
    $('i.remain-stock').html(total-distributed);
  });
</script>
