<%= title 'Warehouse'%>
<%= form_for @warehouse_examining, :url => {:controller => "product", :action => "warehouse_counting"}  do |f| %>
<%= hidden_field_tag :pending_products, @product_list, multiple: true%>
<%= f.hidden_field :product_name%>
<%= f.hidden_field :product_no_ws_id%>

<!-- Mobile Version -->
<% if browser.device.mobile? %>
<div class="row">
  <div class="col-md-8">
    <div class="col-md-6">
      <%= @warehouse_examining.product_name%><br/>
    </div>
    <div class="col-md-6">
      <label>Total:<%= @warehouse_examining.current_total %></label>
      <%= f.hidden_field :current_total, readonly: true%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label>Ready:<%= OrderProduct.ready(@products.map(&:id)).map(&:qty).sum%></label>
  </div>
  <div class="col-md-2">
    <label>Allocation:<%= @warehouse_examining.allocation %></label>
  </div>
  <div class="col-md-2">
    <label>On Order:<%= @warehouse_examining.on_order %></label>
  </div>
  <div class="col-md-2">
    <label>Stock:<%= @warehouse_examining.current_stock %></label>
  </div>
  <%= f.hidden_field :allocation, readonly: true%>
  <%= f.hidden_field :current_stock, readonly: true%>
  <%= f.hidden_field :on_order, readonly: true%>
</div>
<div class="product-details">
  <%= f.fields_for "product", @product do |product_form|%>
  <div class="col-md-3">
    <label for="pack_size">Case Size: <%= product_form.number_field :case_size, min: 0, max: 30, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'Case Size' %></label>
  </div>
  <div class="col-md-3">
    <label for="location">
      Location:
      <%= product_form.text_field :row, size: 2, placeholder: 'row'%>
      <%= product_form.text_field :column, size: 2, placeholder:'column'%>
      <%= product_form.text_field :area, size: 2, placeholder:'area'%>
    </label>
  </div>
  <% end %>
</div>
<div class="pack-count">
  <div class="col-md-2">
    <label for="packs">Packs:<%= f.number_field :count_pack, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'Pack'} %></label>
  </div>
  <div class="col-md-2">
    <label for="loose">Loose:<%= f.number_field :count_loose, {min: 0, max: 9999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'Loose'} %></label>
  </div>
  <div class="col-md-2">
    <label for="sample">Sample:<%= f.number_field :count_sample, {min: 0, max: 9999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'Sample'} %></label>
  </div>
</div>
<div class="distribution">
  <label for="total-stock">Stock: <i class="count-total"></i></label>
  <label for="difference">Difference: <i class="difference"></i></label>
  <label for="remaining">Remain: <i class="remain-stock"></i></label>
  <%= f.hidden_field :count_total, class: 'count-total' %>
  <%= f.hidden_field :difference, class: 'difference' %>
</div>
  <table>
    <tr>
      <th>Count</th>
      <td><%= f.number_field :count_ws, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'WS', class: 'distribuetd'}%></td>
      <td><%= f.number_field :count_dm, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'DM', class: 'distribuetd'}%></td>
      <td><%= f.number_field :count_vc, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'VC', class: 'distribuetd'}%></td>
      <td><%= f.number_field :count_retail, {min: 0, max: 999, inputmod: "numeric", pattern:"[0-9]*", placeholder: 'Retail', class: 'distribuetd'}%></td>
    </tr>
  </table>


<% else %>
<!-- Desktop Version -->

<table class="reference-table">
  <thead>
    <tr>
      <th></th>
      <th>WS</th>
      <th>DM</th>
      <th>VC</th>
      <th>Retail</th>
    </tr>
  </thead>
  <tr>
    <th>Current</th>
    <td><%= @warehouse_examining.current_ws %><%= f.hidden_field :current_ws%></td>
    <td><%= @warehouse_examining.current_dm %><%= f.hidden_field :current_dm, readonly: true%></td>
    <td><%= @warehouse_examining.current_vc %><%= f.hidden_field :current_vc, readonly: true%></td>
    <td><%= @warehouse_examining.current_retail %><%= f.hidden_field :current_retail, readonly: true%></td>
  </tr>
  <tr>
    <th></th>
    <th>
      Stock<br/>
      <%= @warehouse_examining.current_stock %>
      <%= f.hidden_field :current_stock, readonly: true%>
    </th>
    <th>
      Allocation<br/>
      <%= @warehouse_examining.allocation %>
      <%= f.hidden_field :allocation, readonly: true%>
    </th>
    <th>
      On Order<br/>
      <%= @warehouse_examining.on_order %>
      <%= f.hidden_field :on_order, readonly: true%>
    </th>
    <th>
      Total<br/>
      <%= @warehouse_examining.current_total %>
      <%= f.hidden_field :current_total, readonly: true%>
    </th>
  </tr>
  <tr>
    <th>Count</th>
    <td><%= f.number_field :count_ws, {min: "0", inputmod: "numeric", pattern:"[0-9]*", class: 'distribuetd'}%></td>
    <td><%= f.number_field :count_dm, {min: "0", inputmod: "numeric", pattern:"[0-9]*", class: 'distribuetd'}%></td>
    <td><%= f.number_field :count_vc, {min: "0", inputmod: "numeric", pattern:"[0-9]*", class: 'distribuetd'}%></td>
    <td><%= f.number_field :count_retail, {min: "0", inputmod: "numeric", pattern:"[0-9]*", class: 'distribuetd'}%></td>
  </tr>

  <tr>
    <th colspan="3"></th>
    <th>
      Stock
      <p class="count-total"></p>
      <%= f.hidden_field :count_total, class: 'count-total' %>
    </th>
    <th>
      Difference
      <p class="difference"></p>
      <%= f.hidden_field :difference, class: 'difference' %>
    </th>
  </tr>
</table>
<% end %>
<% end %>

<script type="text/javascript">
  $(document).on('input', '[type=number]', function () {
    var caseSize = parseInt($('#warehouse_examining_product_case_size').val()) || 0;
    var countPack = parseInt($('#warehouse_examining_count_pack').val()) || 0;
    var countLoose = parseInt($('#warehouse_examining_count_loose').val()) || 0;
    var countSample = parseInt($('#warehouse_examining_count_sample').val()) || 0;

    var total = caseSize*countPack+countLoose+countSample;

    var distributed = 0
    $('input.distribuetd').each(function () {
      distributed += (parseInt($(this).val()) || 0);
    });
    var difference = parseInt($('#warehouse_examining_current_stock').val()) - total;

    $('.count-total').val(total);
    $('.difference').val(difference);
    $('i.count-total').html(total);
    $('i.difference').html(difference);
    $('i.remain-stock').html(total-distributed);
  });
</script>
