<%= title 'Warehouse'%>

<% if @group_list.nil? %>
  <!--  render 'product_partials/mobile_counting' -->
  <%= render 'product_partials/mobile_location' %>

<% else %>
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" name="viewport" />
  <%= form_tag(controller: 'product', action: "warehouse") do |f| %>
  <div class="counting-table block">
    <ul>
      <p>Select Group</p>
      <li>
        <%= collection_select(nil, :selected_group, @group_list, :id, :group_name, {class: 'form-control'})%>
      </li>
    </ul>
    <ul style="align: center;">
      <%= submit_tag 'Select', class: 'btn btn-success btn-lg'%>
    </ul>
  </div>
  <% end %>
<% end %>
