<%= title "Calendar" %>

<script src="//maps.google.com/maps/api/js?key=AIzaSyB1HFWQ1DigWTnXGn_ZaUOk-v8hgGF3moI"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>


<div class="container">
  <div class="row">
    <div class='col-md-6'>
      <input type="checkbox" value="event" id="event_checkbox"/>
      <lable for="event_checkbox">Event</lable>
      <input type="checkbox" value="customer" id="customer_checkbox"/>
      <lable for="customer_checkbox">Customer</lable>
      <br/><br/>
      <div id="customer_location" style='width: 500px; height: 500px;'></div>
      <button type="button" class="btn btn-default" id="filter_on">Filter</button>
      <div id = "calendar_map_filter">
        <%=  render 'calendar_partials/calendar_map_filter' %>
      </div>
    </div>

    <!-- google map component -->
    <div class='col-md-6'>
      <div id="selector" class="btn-group">
        <% @staffs.each do |staff|%>
          <label type="button" class="btn btn-default staff-select"><%= link_to staff.nickname, fetch_calendar_path(calendar_staff_selected: staff.id, start_date: @start_date), remote: true, staff_id: staff.id.to_s %></label>
        <% end %>
      </div>
      <br/>
      <div class="btn group" role="group" data-toggle="buttons" aria-label="calendar_radio">
        <label type="button" class="btn btn-default calendar_radio" date='monthly'><%= radio_button_tag(:calendar_radio, "monthly") %> Month</label>
        <label type="button" class="btn btn-default calendar_radio" date='weekly'><%= radio_button_tag(:calendar_radio, "weekly") %> Week</label>
      </div>

      <div id="calendar_table"></div>
    </div>

  </div>
</div>

<!-- staff calendar selector -->
<script>
var handler = Gmaps.build('Google');
handler.buildMap({
    internal: {
        id: 'customer_location'
    }
}, function () {
});

var event_markers = null;
var customer_markers = null;

var calendar_table = $('#calendar_table');
var calendar_radio = $('div[aria-label=calendar_radio]');
var event_checkbox = $('#event_checkbox');
var customer_checkbox = $('#customer_checkbox');

$('#event_checkbox').attr('checked',true);

  // hide filter
$("#calendar_map_filter").hide();
$("#filter_on").click(function(){
  $("#calendar_map_filter").toggle();
});
</script>

<script type="text/javascript">
<% events = get_events_details(session[:user_id], @start_date.beginning_of_month, @start_date.end_of_month) %>

// calendar update
  calendar_table.html("<%=j render 'calendar_partials/monthly_calendar', staff_id: @calendar_staff, events: events%>");
  if (event_checkbox.is(':checked'))
    event_markers = handler.addMarkers(<%=raw get_events_pins(events).to_json %>);

  if (event_markers != null && event_markers.length != 0){
    handler.bounds.extendWith(event_markers);
    handler.fitMapToBounds();}
</script>
