<%= title "Customer Map" %>

<script src="//maps.google.com/maps/api/js?key=AIzaSyB1HFWQ1DigWTnXGn_ZaUOk-v8hgGF3moI"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<%= form_tag({:action => "map"}, {:method => "get"}) do %>

    <div id="customer_location" style='height: 270px;'></div>
    <br/>
    <%= render "calendar_partials/map_filter"%>
    
    <%= render "partials/customer", customers: @customers %>
<% end %>

<!-- Google Map Component -->
<script>
    var handler = Gmaps.build('Google');
    handler.buildMap({
        internal: {
            id: 'customer_location'
        }
    }, function () {
        var markers = handler.addMarkers(<%=raw hash_map_pins(@customer_map).to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>
