<div class="row" style="margin-top: 20px;">
	<div class="col-md-4 col-md-offset-4">
		<%= text_field_tag('search', @search_text, placeholder: 'Search for Customer Name', class: 'form-control') %>
	</div>
</div>
<!-- invoice or due date displayed -->
<div class="row" style="margin-top: 5px;">
	<div class="col-xs-6 col-xs-offset-5">
		<%= radio_button_tag(:date_column, "invoice_date", @checked_invoice_date, :onclick => "this.form.submit();") %> Invoice Date
		<span style="margin-left: 50px;">
		<%= radio_button_tag(:date_column, "due_date", @checked_due_date, :onclick => "this.form.submit();") %>  Due Date
		</span>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 col-xs-offset-4">
		From:  <%= date_select :start_date_select, :date , :class => 'datepicker' %>
		<span style="margin-left: 30px;">
		To:   <%= date_select :end_date_select, :date , :class => 'datepicker' %>
		</span>
	</div>
	<%= submit_tag "Search", class: 'btn btn-primary' %>
	<button class = "btn btn-primary"><%= link_to "Reset", controller: "accounts", action: "contacts" %></button>
</div>
