<%= render "partials/paginate", objects: customers %>


<table class = "table table-striped table-bordered table-hover table-responsive">
	<tr>
		<th>Name <%= render "partials/sort_arrows", order: 'order_by_name' %></th>
		<th>Outstanding <%= render "partials/sort_arrows", order: 'order_by_outstanding' %></th>
		<th>Overdue <%= render "partials/sort_arrows", order: 'order_by_overdue' %></th>
		<% @date = Date.today  %>
		<% if "invoice_date".eql? date_column %>
			<th> <%= @date.strftime("%B")%> </th>
		<% else %>
			<th> Current </th>
		<% end%>
		<th> <%= (@date - 1.month).strftime("%B")%> </th>
		<th> <%= (@date - 2.month).strftime("%B")%> </th>
		<th> <%= (@date - 3.month).strftime("%B")%> </th>
		<th> <%= (@date - 4.month).strftime("%B")%> </th>
		<th> Older </th>
	</tr>


		<% customers.each do |c| %>
			<% sum_of_amount = Hash.new%>
			<% sum_of_amount["invoice_date"] = Array.new(6){0}%>
			<% sum_of_amount["due_date"] = Array.new(6){0}%>
			<% invoices[c.id].each do |i| %>
				<% interval = (Date.today.year * 12 + Date.today.month) -  (i.date.to_date.year * 12 + i.date.to_date.month)%>
				<% if interval > 5 %>
						<%  interval = 5 %>
				<% elsif interval < 0 %>
					<%  interval = 0 %>
				<% end%>
				<% interval_due_date = (Date.today.year * 12 + Date.today.month) -  (i.due_date.to_date.year * 12 + i.due_date.to_date.month)%>
				<% if interval_due_date > 5 %>
						<%  interval_due_date = 5 %>
				<% elsif interval_due_date < 0 %>
					<%  interval_due_date = 0 %>
				<% end%>
				<% sum_of_amount["invoice_date"][interval]+=i.amount_due%>
				<% sum_of_amount["due_date"][interval_due_date]+=i.amount_due%>
			<% end%>
	<tr>
		<!-- <td><%= link_to c.xero_contact.name, controller: 'sales', action: 'orders_and_stats_for_customer', customer_name: c.xero_contact.name, customer_id: c.id %></td> -->

		<td><%= link_to c.xero_contact.name, controller: 'accounts', action: 'customer_invoices', customer_id: c.id, amount_due: sum_of_amount %></td>

		<td class="num"><%= display_num(outstanding_customer(c.xero_contact))  %></td>
		<td class="num"><%= display_num(overdue_customer(c.xero_contact)) %></td>
		<% sum_of_amount[date_column].each do |sum|%>
			<td><%=sum %></td>
		<% end %>
	</tr>
	<% end %>

</table>

<span style="float:right;">
<%= paginate(customers) %>
</span>
