<table class = "table table-striped table-bordered table-hover table-responsive">
	<tr class="info">
		<th class = <%= display_class_otherwise %> >ID</th>
		<th><%= column_name %></th>
		<th class = <%= display_class_otherwise %> >Product Price</th>
		<th class = <%= display_class %> >Staff</th>
		<th class = <%= display_class %> >Style</th>
		<% time_periods_name.each do |t| %>
			<th><%= t %></th>
		<% end %>
	</tr>

	<% names.each do |id, val| %>
	<tr>
		<%#= For Top Products for customers that have hash like {id => [name, price, retail_ws]} %>
		<td class = <%= display_class_otherwise %> ><%= id %></td>
		<td class = <%= display_class_otherwise %> ><%= link_to val[0], controller: 'sales', action: 
		'orders_and_stats_for_product_and_customer', customer_id: customer_id, customer_name: customer_name, product_id: id, product_name: val[0] %></td>
		<td class = <%= display_class_otherwise %> ><%= display_num(calculate_product_price(val[1], val[2])) %></td>


		<%#= For Top Customers for Product that have hash like {id => [name, staff]} %>
		
		<td class = <%= display_class %> ><%= link_to val[0], controller: 'sales', action: 
		'orders_and_stats_for_product_and_customer', customer_id: id, customer_name: val[0], product_id: product_id, product_name: product_name %></td>
		<td class = <%= display_class %> ><%= val[1] %></td>
		<td class = <%= display_class %> ><%= val[2] %></td>
		<% stats.each do |time_period_name, hash| %>
		<td><%= exists_in_h(hash, id) %></td>
		<% end %>
	</tr>
	<% end %>

</table>