<span class="orders-view default" id = "orders-view-table" style="float:right;margin-right:50px;font-size: 115%;"><%= paginate(orders) %></span>
<table class = "table table-striped table-bordered table-hover table-responsive orders-view default" id = "orders-view-table">
	<tr>
		<th>Sales Rep</th>
		<th>Date</th>
		<th>Order Id</th>
		<th>Customer</th>
		<th>Status</th>
        <th class = <%= display_class %> >Selected Prod Qty</th>
		<th>Qty</th>
		<th>Total</th>
	</tr>

	<% orders.each do |order| %>
	<tr>
		<td><%= staff_nickname(order.customer) %></td>
		<td><%= date_format_orders(order.date_created) %></td>
		<td><%= link_to order.id, controller: 'sales', action: 'order_details', order_id: order.id %></td>
		<% cust_name = customer_name(order.customer) %>
		<td><%= link_to cust_name, controller: 'sales', action: 'orders_for_selected_customer', customer_id: order.customer_id, customer_name: cust_name %></td>
		<td><%= order_status(order.status) %></td>
		<td class = <%= display_class + " num " %>  ><%= order.order_products.first.qty %></th>
		<td class = "num"><%= order.qty %></td>
		<td class = "num"><%= display_num(order.total_inc_tax) %></td>
	</tr>
	<% end %>

</table>
<span class="orders-view default" id = "orders-view-table" style="float:right;margin-right:50px;font-size: 115%;"><%= paginate(orders) %></span>