<span class="orders-view default">
	<%= render "partials/form_paginate", objects: orders %>
</span>
<% can_update_staff = allow_to_update(session[:user_id]) %>
<table class="table table-striped table-bordered table-hover table-responsive orders-view default" id="orders-view-table">
	<thead>
		<tr>
			<th>Order Id
				<%= render "partials/sort_arrows", order: 'order_by_id' %></th>
			<th>Date</th>
			<th>Customer
				<%= render "partials/sort_arrows", order: 'order_by_customer' %></th>
			<th>Status
				<%= render "partials/sort_arrows", order: 'order_by_status' %></th>
			<th>Shipping Status</th>
			<th class=<%= display_class %>>Selected Prod Qty</th>
			<th>Qty
				<%= render "partials/sort_arrows", order: 'order_by_qty' %></th>
			<th>Total
				<%= render "partials/sort_arrows", order: 'order_by_total' %></th>
			<th>Sales Rep
				<%= render "partials/sort_arrows", order: 'order_by_staff' %></th>
			<th>Invoice Status</th>
		</tr>
	</thead>

	<% orders.each do |order| %>
	<tr>
		<td class="account-<%= order.account_status %>"><%= link_to order.id, controller: 'order', action: 'details', order_id: order.id %></td>
		<td><%= date_format_orders(order.date_created) %><%= ('<br><i>' + date_format_orders(order.eta) + '</i>').html_safe  unless (order.eta.nil?) || ([10, 12].includes?order.status_id)%></td>

		<% cust_name = customer_name(order.customer) %>
		<td><%= link_to cust_name, controller: 'customer', action: 'summary', customer_id: order.customer_id, customer_name: cust_name %></td>
		<td><%= order_status(order.status)%></td>
		<% shipping_description = shipping_status(order) %>
		<td class=<%= shipping_description.split().join('-') %>><%= shipping_description %></td>
		<td class=<%= display_class + " num " %>><%= product_qty(product_ids, order.id) %></th>
		<td class="num"><%= order.qty %></td>
		<td class="num"><%= display_num(order.total_inc_tax) %></td>

		<%= render "customer_partials/order_staff_update", staff_id: order.staff_id, order_id: order.id, can_update_staff: can_update_staff %>
		<% invoice_status = invoice_status(order.xero_invoice) %>
		<td class=<%= invoice_status[0].downcase %>><%= invoice_status[0] %></td>
	</tr>
	<tr data-href="<%= fetch_order_detail_path(order_id: order.id) %>">
		<td colspan="4">
			<div class="shippment"></div>
		</td>
		<td colspan="5">
			<div class="product-list"></div>
		</td>
	</tr>
	<% end %>
</table>

<span class="orders-view default" stye="float:right;">
	<%= paginate(orders) %>
</span>

<script>
$("#orders-view-table tr:odd").addClass("odd");
$("#orders-view-table tr:not(.odd)").hide();
$("#orders-view-table tr:first-child").show();

var shippment = null;
var product_list = null;

$("#orders-view-table tr.odd").click(function () {
    var trToToggle = $(this).next("tr");
    $("#orders-view-table tbody tr:not(.odd)").not(trToToggle).hide();
		shippment = trToToggle.find('div.shippment');
		product_list = trToToggle.find('div.product-list');

		var link = trToToggle.data('href');
		$.ajax({
				type: 'GET',
				url: link
		});

    $(trToToggle).toggle();
    $(this).find(".arrow").toggleClass("up");
});
</script>
