<div class="form-group container-fluid" style="margin-top: 50px;">
<%= form_tag({:controller => "models", :action => "orders"}, {:method => "get"}) do %>

<div class="col-xs-3 col-xs-offset-1">
    <%= text_field_tag('search', @search_text, placeholder: 'Search for Customer Name', class: 'form-control') %>
</div>
<%= render "partials/staff_filter" %>  
<div class="col-xs-2">
    <%= collection_select(:status, :id, @statuses, :id, :name, {:include_blank => 'All Statuses'}, {:class => 'form-control'}) %>
</div>

<%= hidden_field_tag :start_date, @start_date %>
   <%= hidden_field_tag :end_date, @end_date %>
   <%= submit_tag "Filter", class: 'btn btn-primary' %>
   <%= link_to "Reset", {controller: "models", action: "orders"}, class: "btn btn-primary" %></button>
<% end %>
</div>