<!-- edited by vchar on 20180814 -->
<!-- edited by vchar on 20180821 -->

<div class="input-group">
	<%= render "partials/period_select" %>
	<div class="input-group-append">
		<%= submit_tag "change", class: 'btn btn-warning sales-stats-section' %>
	</div>
</div>
	

<table class = "table table-striped table-bordered table-hover table-responsive w-100 d-block d-table mt-3">
	<tr class="info sales-stats-bar">
		<th style="color: red">Sales Stats</th>
		<% @overall_stats.keys.each do |t| %>
			<th><%= t %></th>
		<% end %>
	</tr>

	<tr class="sales-stats-section">
		<td>Total <%= sum_param %></td>
		<% @overall_stats.each do |t, a| %>
			<td class="num"><%= display_overall_stat(a[0], sum_param) %></td>
		<% end %>
	</tr>
	<tr class="sales-stats-section">
		<td><%= @selected_period.capitalize %> Average</td>
		<% @overall_stats.each do |t, a| %>
			<td class="num"><%= display_num(a[1]) %></td>
		<% end %>
	</tr>

	<tr class = <%= supply_display_class %>>
		<td><%= @selected_period.capitalize %> Supply</td>
		<% @overall_stats.each do |t, a| %>
			<td class="num"><%= display_num(a[2]) %></td>
		<% end %>
	</tr>
</table>

<script>
	$('.sales-stats-bar').click(function(){
		$('.sales-stats-section').toggle();
	});
</script>
