	<div class="col-xs-2" style="float: left;">
	<%= render "partials/period_select" %>
	</div>
	
   <%= submit_tag "Change", class: 'btn btn-primary' %>
   
<table class = "table table-striped table-bordered table-hover table-responsive" style="margin-top: -40px;">

	<tr class="info">
		<th></th>
		<% @overall_stats.keys.each do |t| %>
			<th><%= t %></th>
		<% end %>
	</tr>

	<tr>
		<td>Total Qty</td>
		<% @overall_stats.each do |t, a| %>
			<td><%= display_num(a[0]) %></td>
		<% end %>
	</tr>
	<tr>
		<td><%= @selected_period.capitalize %> Average</td>
		<% @overall_stats.each do |t, a| %>
			<td><%= display_num(a[1]) %></td>
		<% end %>
	</tr>	

	<tr class = <%= supply_display_class %>>
		<td><%= @selected_period.capitalize %> Supply</td>
		<% @overall_stats.each do |t, a| %>
			<td><%= display_num(a[2]) %></td>
		<% end %>
	</tr>	
</table>
