	<div class="col-xs-2" style="float: left;">
	<%= render "partials/period_select" %>
	</div>
	
   <%= submit_tag "Change", class: 'btn btn-primary' %>
   
<table class = "table table-striped table-bordered table-hover table-responsive" style="margin-top: -40px;">

	<tr class="info">
		<th></th>
		<% time_periods_name.each do |t| %>
			<th><%= t %></th>
		<% end %>
	</tr>

	<tr>
		<td>Total Qty</td>
		<% sum_stats.each do |s| %>
			<td><%= display_num(s) %></td>
		<% end %>
	</tr>
	<tr>
		<td><%= @selected_period.capitalize %> Average</td>
		<% avg_stats.each do |a| %>
			<td><%= display_num(a) %></td>
		<% end %>
	</tr>	

	<tr class = <%= monthly_supply_display_class %>>
		<td><%= @selected_period.capitalize %> Supply</td>
		<% monthly_supply.each do |m| %>
			<td><%= display_num(m) %></td>
		<% end %>
	</tr>	
</table>
