<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
	  <%= text_field_tag('search', @search_text, placeholder: 'Search for Product Name', class: 'form-control') %>
	</div>
	<div class="col-xs-2">
	    <%= collection_select(:producer_country, :id, (@products.nil?) ? ProducerCountry.all : ProducerCountry.producer_country_filter(@products.map(&:producer_country_id)), :id, :name, {:include_blank => 'All Countries'}, {:class => 'form-control'}) %>
	</div>
	<div class="col-xs-3">
	    <%= collection_select(:product_sub_type, :id, (@products.nil?) ? ProductSubType.all : ProductSubType.product_sub_type_filter(@products.map(&:product_sub_type_id)), :id, :name, {:include_blank => 'All Varietals'}, {:class => 'form-control'}) %>
	</div>
</div>
<div class="row" style="margin-top: 20px;">
	<div class="col-xs-5 col-xs-offset-4">
		<%= radio_button_tag(:transform_column, "product_id", @checked_id) %> Products
		<span style="margin-left: 50px;">
		<%= radio_button_tag(:transform_column, "product_no_ws_id", @checked_no_ws) %>  No WS
		</span>
		<span style="margin-left: 50px;">
		<%= radio_button_tag(:transform_column, "product_no_vintage_id", @checked_no_vintage) %>  No Vintage
		</span>
	</div>
	<%= submit_tag "Submit", class: 'btn btn-primary' %>
	<button class = "btn btn-primary"><%= link_to "Reset", action: "products" %></button>
</div>
