<div class="container products-view not-default">

  <%= form_for @task, :url => {:controller => "task", :action => "add_task"}  do |f| %>
  <%= hidden_field_tag :is_task, 1 %>
  <%= hidden_field_tag :parent_task, @parent_task %>

  <div class="row">
      <div class="col-md-8 col-md-offset-4" id="task_function">
          <%= label(:function, "Function:")%>
          <%= f.collection_select :function, @function, :function, :function, {:include_blank => "Select a Function"}, {:class=>"function_selection_task"} %>
          <%= label(:subject_1, "Subject:")%>
          <%= f.collection_select :subject_1, @subjects_task, :id, :subject, {:prompt => "Select a Subject"}, {:class=>"subject_selection_task"} %>
      </div>
      <div class="col-md-8 col-md-offset-4" id="task_function">
          <%= label(:method, "Method:")%>
          <%= f.collection_select :method, @methods, :method, :method, {:prompt => "Select a Method"} %>
      </div>
      <div class="col-md-8 col-md-offset-4">
          Description
          <br/>
          <%= f.text_area :description, :rows=>15, :cols=>50	%>
      </div>
      <div class="col-xs-4 col-xs-offset-4">
        Assign To: </br>
        <% if !@customer_locked%>
          <%= label(:staff, "Staff:")%>
            <%= collection_select(:staff, :id, @staffs, :id, :nickname, {:prompt => 'Active Staff'}, {:class => 'staff_selection'}) %>
          </br>
          <%= label(:customer, "Customer:")%>
            <%= collection_select(:customer, :id, @customers, :id, :actual_name, {:include_blank => 'Active Customer'}, {:class => 'customer_selection'}) %>
        <% else %>
        <%= label(:staff, "Staff:")%>
          <%= collection_select(:staff, :id, @staffs, :id, :nickname) %>
        </br>
        <%= label(:customer, "Customer:")%>
          <%= collection_select(:customer, :id, @customers, :id, :actual_name) %>
        <% end %>
      </div>

      <div class="col-xs-6 col-xs-offset-4">
          <%= label(:start_date, "Start From")%>
          <%= date_field( "start_date", "start_date", value: @start_date) %>
          <%= label(:end_date, "Until")%>
          <%= date_field( "end_date", "end_date", value: @end_date) %><br/><br/>
      </div>
      </br>
      <div class="col-xs-6 col-xs-offset-4">
          <%= button_tag(type: 'submit', class: "btn btn-primary", data: { confirm: "Add Task?" }) do %>
          Create Task!
          <% end %>
      </div>
  </div>
  <% end %>
</div>
