<!-- edited by vchar on 20180825 -->


<% @parent_task = (@parent_task.is_a?Task) ? @parent_task.id : @parent_task %>
<%= form_for @task, :url => { :controller => "task", :action => "add_task" }, 
    :id => "task_append_form"  do |f| %>
    <%= hidden_field_tag :parent_task, @parent_task.to_s %>
    <%= hidden_field_tag :selected_orders, @selected_orders unless @selected_orders.blank?%>
    <%= hidden_field_tag :accounts_page, @customer_locked %>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    Task details
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Task
                                    </span>
                                </div>
                                <%= select_tag "is_task", options_for_select(["Task", "Note"]), 
                                    class:"form-control is_task_check" %>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Function</span>
                                </div>
                                <%= f.collection_select :function, @function, :function, :function, 
                                    { :include_blank => "Select a Function", :selected => @default_function }, 
                                    { :class=>"form-control function_selection"} %>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Subject</span>
                                </div>
                                <%= f.collection_select :subject_1, @subjects, :id, 
                                    :subject, { :prompt => "Select a Subject" }, 
                                    { :class=>"form-control subject_selection" } %>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2" id="task_function">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Method</span>
                                </div>
                                <%= f.collection_select :method, @methods, :method, :method, 
                                { :include_blank => "Select a Method", :selected => "Call" },
                                class: "form-control" %>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Priority</span>
                                </div>
                                <%= f.collection_select :priority, TaskPriority.all, :id, 
                                    :priority_level, {:selected => 3}, class: "form-control" %>
                            </div>
                        </div>
                    </div>
                    <% unless @selected_orders.blank? and @parent_task.blank? %>
                        <div class="row">
                            <div class="col-md-6" style="height: 30px; line-height: 30px">
                                <%= "Following Task: "+ @parent_task.to_s unless @parent_task.blank? %>
                            </div>
                            <div class="col-md-6">
                                <%= "Include Order: " + @selected_orders.to_s unless @selected_orders.blank? %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    Assign To
                </div>
                <div class="card-body">
                    <% if !@customer_locked %>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Staff</span>
                                    </div>
                                    <%= collection_select(:staff, :id, @staffs, :id, 
                                        :nickname, {:prompt => 'Active Staff'}, 
                                        { class: 'form-control staff_selection' }) %>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Customer</span>
                                    </div>
                                    <%= collection_select(:customer, :id, @customers, :id, 
                                        :actual_name, { :include_blank => 'Active Customer' }, 
                                        { :class => 'form-control customer_selection' }) %>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Lead</span>
                                    </div>
                                    <%= collection_select(:lead, :id, @leads, :id, 
                                        :actual_name, {:include_blank => 'Active Leads'}, 
                                        {:class => 'lead_selection form-control'}) %>
                                </div>
                            </div>
                        </div>
                    <% else %>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Staff</span>
                                    </div>
                                    <%= collection_select(:staff, :id, @staffs, :id, :nickname, 
                                    {:selected => @current_user.id}, class: 'form-control') %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Customer</span>
                                    </div>
                                    <%= collection_select(:customer, :id, @customers, :id, 
                                        :actual_name, {}, class: 'form-control') %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <div class="row mt-2">
                        <div class="col-md-6 task_start_date">
                            <div class='input-group date' id='start_timepicker'>
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Start date
                                    </span>
                                </div>
                                <%= text_field_tag('start_time',"", 
                                    placeholder: 'Start datetime', 
                                    class: 'form-control') %>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <span class="input-group-addon">
                                            <span class="far fa-calendar-alt"></span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 task_due_date">
                            <div class='input-group date' id='due_timepicker'>
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Due date
                                    </span>
                                </div>
                                <%= text_field_tag('due_time',"", 
                                    placeholder: 'Due datetime', 
                                    class: 'form-control') %>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <span class="input-group-addon">
                                            <span class="far fa-calendar-alt"></span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md" style="height: 45px; line-height: 45px">
                            <b>Add to Calendar: </b>
                            <%= radio_button_tag(:event_column, "yes", false, 
                                class: "ml-3 mr-1") %> Yes
                            <%= radio_button_tag(:event_column, "no", true, 
                                class: "ml-3 mr-1") %>  No
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <%= button_tag('Create follow-up task!', type: 'submit', 
                                class: "btn btn-secondary", name: "parent_task") %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-center mt-3">
                <%= f.text_area :description, :rows=>8, 
                    class: "form-control" %>   
                <%= button_tag('Create task!', type: 'submit', 
                    id: 'create_button', class: "btn btn-primary mt-3") %>
        </div>
    </div>
<% end %>

<script>
    $(function () {
        $('#due_timepicker').datetimepicker({
            defaultDate: new Date(),
            sideBySide: true
        });

        $('#start_timepicker').datetimepicker({
            defaultDate: new Date(),
            sideBySide: true,
            useCurrent: false //Important! See issue #1075
        });

        $("#due_timepicker").on("dp.change", function (e) {
        
            // $('#start_timepicker').data("DateTimePicker").date(e.date);
            $('#start_timepicker').data("DateTimePicker").maxdate(e.date);
        });

        $("#start_timepicker").on("dp.change", function (e) {
            $('#due_timepicker').data("DateTimePicker").minDate(e.date);
        });
    });

    $(".is_task_check").change(function () {
        if($(this).val() == "Note"){
            $(".task_due_date").hide();
            $("#create_button").html("Create Note!");
            $("#task_type_title").html("Note");
        }else{
            $(".task_due_date").show();
            $("#create_button").html("Create Task!");
            $("#task_type_title").html("Task");
        };
    });
</script>
