<!-- edited by vchar on 20180822 -->

<%
  task_parent = (task.parent_task.nil? || Task.where(task.parent_task).blank?) ? nil : Task.find(task.parent_task)
  task_children = Task.task_children(task.id)

unless task_parent.nil?%>
  <%= link_to "Following: " + task_parent.function + " / " + TaskSubject.where("id ='#{task_parent.subject_1}'").first.subject, {controller: "task", action: "task_details", task_id: task_parent.id},{ style: "color: red;"} %>
  <br/>
  <%=task_parent.description%>
  <br/>
<% end %>

<br/>
<%= link_to "#" + task.id.to_s, {controller: "task", action: "task_details", task_id: task.id},{ style: "color: blue;"} %>
<br/>
<%= task.description%>
<br/>
<a>Created At: <%= date_format_orders(task.created_at) %></a>
<br/>
<a>Start: <%= date_format_orders(task.start_date) %></a>
<br/>
<% if task.is_task == 1 %>
  <a>Due: <%= date_format_orders(task.end_date) %></a>
  <br/>
<% end %>
<br/><br/>


<% task_children.each do |task_child| %>
<%= link_to "Followed By: " + task_child.function + " / " + TaskSubject.where("id ='#{task_child.subject_1}'").first.subject, {controller: "task", action: "task_details", task_id: task_child.id},{ style: "color: green;"} %>
  <br/>
  <%= task_child.description%>
  <br/>
<% end %>
