<div class="col-md-12 orders-view default">
    <div style="float: left;">
        <h4>Task</h4>
    </div>
    <table class="table table-hover table-responsive task_table" style="margin-top: -30px;">
        <thead>
            <tr>
                <th>Func/Sub</th>
                <th>Method</th>
                <th>Description</th>
                <th>Customer</th>
                <th>Staff</th>
                <th>Created By</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @tasks.each do |task|%>
            <% next if ((task.is_task==0)&&("No".eql? display_all))%>
            <tr>
                <td><%=task.function.byteslice(0,3) + "/" + TaskSubject.where("id ='#{task.subject_1}'").first.subject%></td>
                <td><%=task.method%></td>
                <td><%= link_to task.description,controller: "task", action: "task_details", task_id: task.id%></td>
                <% customer, staff = task_customer_staff(task.task_relations) %>
                <td><%= ("-".eql? customer) ? "-" : customer.actual_name %></td>
                <td><%= ("-".eql? staff) ? "-" : staff.nickname %></td>

                <td><%=Staff.find(task.response_staff).nickname%></td>
                <td><%=date_format_orders(task.start_date)%></td>
                <td><%=date_format_orders(task.end_date)%></td>
                <% is_task = (1==task.is_task)? "task" : "note"%>
                <td class=<%=is_task%> ><%=is_task.upcase%></td>
                <td>
                  <%=render "task_partials/control_icon", task: task%>
                </td>
            </tr>
            <% end %>
        </tbody>

    </table>
</div>
