<div class="col-md-12">
    <table class="table table-hover table-responsive task_table" style="margin-top: 5px;" id = "task_table">
      <%= render "task_partials/task_table_head_filter" %>
            <% @tasks.each do |task|%>
            <tr>

                <td class="<%=task_priority_display(task.priority).downcase%>"><%= render "task_partials/priority_update_cell", task_id: task.id, priority: task.priority %></td>

                <td><%=task.function.byteslice(0,3) + "/" + TaskSubject.where("id ='#{task.subject_1}'").first.subject%></td>
                <td><%=task.method%></td>
                <td><%= link_to task.description,controller: "task", action: "task_details", task_id: task.id%></td>
                <% customer, staff = task_customer_staff(task.task_relations) %>
                <td><%= ("-".eql? customer) ? "-" : customer.actual_name %></td>
                <td><%= ("-".eql? staff) ? "-" : staff.nickname %></td>
                <td><%=Staff.find(task.response_staff).nickname%></td>

                <% task_week = task.end_date.strftime("%U")
                    now_week = Time.now.strftime("%U")
                    if task_week == now_week %>
                      <td class="this_week">
                <%  elsif task_week > now_week %>
                      <td class="next_week">
                <%  else %>
                      <td class="last_week">
                <%  end %>
                  <%=date_format_orders(task.start_date)%>
                </td>
                <% is_task = (1==task.is_task)? "task" : "note"%>
                <td class=<%=is_task%> ><%=is_task.upcase%></td>
                <td>
                  <%=render "task_partials/control_icon", task: task%>
                </td>
            </tr>
            <tr>
              <td colspan="11">
                <%= render "task_partials/task_hidding_row", task: task%>
              </td>
            </tr>
            <% end %>
    </table>
</div>

<script>
$("#task_table tr:odd").addClass("odd");
$("#task_table tr:not(.odd)").hide();
$("#task_table tr:first-child").show();

$("#task_table tbody tr.odd").click(function () {
    var trToToggle = $(this).next("tr");
    $("#task_table tbody tr:not(.odd)").not(trToToggle).hide();
    $(trToToggle).toggle();
    $(this).find(".arrow").toggleClass("up");
});
</script>
