<%= title "#{@customer.xero_contact.name}" %>
<h3><%= @customer.xero_contact.name%></h3>
<center><%= link_to "Add New Contact", controller: 'contact', action: 'create_contact', customer_id: @customer.id, customer_name: @customer.actual_name %></center>

<div style="margin-top: 50px;">
    <%= render "customer_partials/summary_header", customer: @customer %>
</div>

<div style="margin-top: 50px;">
    <%= render "accounts_partials/invoice_details", customer: @customer, amount_due: @amount_due%>
</div>

<% unless @tasks.blank?%>
<div class="container">
    <div class="row">
        <div style="margin-top: -10px;">
            <%= render "task_partials/task_table", display_all: "Yes"%>
        </div>
    </div>
</div>
<% end %>
