<div class="row">
    <div class="col pl-1">
        <div class="card bg-light mt-1">
            <div class="card-header">Stock Range:</div>
            <div class="card-body">
                <div class="p-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">From</span>
                        </div>
                        <%= text_field_tag('min_stock', @min_stock, placeholder: 'Min', class: 'form-control') %>
                    </div>
                </div>
                <div class="p-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">To</span>
                        </div>
                        <%= text_field_tag('max_stock', @max_stock, placeholder: 'Max', class: 'form-control') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col pl-1">
        <div class="card bg-light mt-1">
            <div class="card-header">Price Range:</div>
            <div class="card-body">
                <div class="p-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">From</span>
                        </div>
                        <%= text_field_tag('min_price', @min_price, placeholder: 'Min', class: 'form-control') %>
                    </div>
                </div>
                <div class="p-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">To</span>
                        </div>
                        <%= text_field_tag('max_price', @max_price, placeholder: 'Max', class: 'form-control') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col pl-1">
        <div class="card bg-light mt-1">
            <div class="card-header">Sale Range:</div>
            <div class="card-body">
                <div class="p-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">From</span>
                        </div>
                        <%= text_field_tag('min_sales', @min_sales, placeholder: 'Min', class: 'form-control') %>
                    </div>
                </div>
                <div class="p-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">To</span>
                        </div>
                        <%= text_field_tag('max_sales', @max_sales, placeholder: 'Max', class: 'form-control') %>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>