<br/>
<table class = "table table-striped table-bordered table-hover table-responsive">
	<tr>
		<th>ID <%= render "partials/sort_arrows", order: 'order_by_id' %></th>
		<th>Product Name <%= render "partials/sort_arrows", order: 'order_by_name' %></th>
		<th>Price (Ex. GST) <%= render "partials/sort_arrows", order: 'order_by_price' %><br/></th>
		<th>Total Stock (Inventory + Pending) <%= render "partials/sort_arrows", order: 'order_by_stock' %><br/></th>
		<th>Pending Stock <%= render "partials/sort_arrows", order: 'order_by_pending' %><br/></th>

		<% @dates_paired.each do |date_key, date_pair| %>
			<% date =  date_format_orders(date_pair[0]) + " - " + date_format_orders(date_pair[1].prev_day) %>
			<th> <%= date %><%= render "partials/sort_arrows", order: "order_by_date_#{date_key}" %></th>
		<% end %>
		<th>Total <%= render "partials/sort_arrows", order: 'order_by_total' %></th>
		<% if @selected_lable != ''%>
			<%= hidden_field_tag :showing_lables, @selected_lable %>
			<th><%= ProductLable.find(@selected_lable).name %></th>
		<% end %>
	</tr>

	<%
			total_row_dates = {}
			total_product = []
			total_number = 0
	 		@dates_paired.keys.each do |d|
			total_row_dates[d] = 0
	 		end
	%>

	<% @product_ids.each do |id| %>
	<tr>
		<td><%= id %></td>
		<td>
			<%= link_to @product_name_h[id], controller: 'product', action: 'summary', product_id: id, product_name: @product_name_h[id], transform_column: @transform_column, total_stock: @inventory_h[id].to_i, pending_stock: @pending_stock_h[id].to_i %>
		</td>
		<td class="num"><%= display_num(@price_h[id]) %>

		<td class="num"><%= @inventory_h[id].to_i + @pending_stock_h[id].to_i %>
		<td class="num"><%= @pending_stock_h[id].to_i %>

		<%# @product_qty_h is like {[product_id, week_num] => qty} %>
		<% sums_dates_h = give_sum_date_h(id, @product_qty_h) %>
		<% @dates_paired.keys.each do |d| %>
			<% total_row_dates[d] += exists_in_h(sums_dates_h, d).to_i %>
			<td class="num"><%= exists_in_h(sums_dates_h, d) %></td>

		<% end %>

		<td class="num"><%= sums_dates_h.values.sum %></td>
		<% total_product.append(sums_dates_h.values.sum) %>
		<% if @selected_lable != ''
			total_number += @product_order_number[id]
			%>
			<% if @checked_id %>
				<td><%= text_field_tag("number_update_column_#{id}", @product_order_number[id], class: 'form-control') %></td>
			<% else %>
				<td><%= @product_order_number[id]%></td>
			<%end%>
		<% end %>
	</tr>
	<% end %>
	</tr>

	<!-- total -->
	<tr>
		<td colspan="3">Total</td>
		<td class="num"><%= @inventory_h.values.map(&:to_i).sum + @pending_stock_h.values.map(&:to_i).sum %></td>
		<td class="num"><%= @pending_stock_h.values.map(&:to_i).sum %></td>
		<% @dates_paired.keys.each do |d| %>
			<td class="num"><%= total_row_dates[d] %></td>
		<% end %>
		<td class="num"><%= total_product.sum%></td>
		<% if @selected_lable != ''%>
			<td><%= total_number %></td>
		<% end %>
	</tr>

</table>
