<div class="container-center">
  <div class= "row">
    <div class="col-xs-4">
      <% staff = customer.staff %>
      <h5>Sales Rep.: <%= staff.nickname %></h5>
      <p>Ph: <%= num_to_phone(staff.contact_number) unless staff.contact_number.nil? %></p>
      <p>Email: <%= mail_to(staff.email) unless staff.email.nil? %></p>
    </div>
  </div>
  <h5>  Contacts:</h5>
    <div class= "row">
        <% @contacts.each do |contact| %>
          <% person = contact.contact%>
          <div class="col-xs-4">
            <p style="font-size:20px"><%= person.name+": "%></p>
            <p style="font-size:20px">
              <%= contact.title%>
              <br/>
              <%= label_tag :position, contact.position%>
              <br/>
              <%= num_to_phone(contact.phone) %>
            </p>
          </div>
      <% end %>
    </div>
</div>
