<div class="container-center">
  <div class= "row">
    <div class="col-xs-4">
      <% staff = customer.staff %>
      <h5>Sales Rep.: <%= staff.nickname %></h5>
      <p>Ph: <a href="tel:<%=staff.contact_number%>"><%= num_to_phone(staff.contact_number) unless staff.contact_number.nil? %></a></p>
      <p>Email: <%= mail_to(staff.email) unless staff.email.nil? %></p>
      <p>Email for Sales: <%= mail_to(@customer.email_for_sales) unless @customer.email_for_sales.nil? %></p>
      <p>Email for Accounts: <%= mail_to(@customer.email_for_accounts) unless @customer.email_for_accounts.nil? %></p>
    </div>
  </div>
  <h5>  Contacts:</h5>
    <div class= "row">
        <% @contacts.each do |contact| %>
          <% person = contact.contact%>
          <div class="col-xs-4">
            <p style="font-size:20px"><%= person.name+": "%></p>
            <p style="font-size:20px">
              <%= contact.title%>
              <br/>
              <%= label_tag :position, contact.position%>
              <br/>
                <a href="tel:<%=contact.phone%>"><%= num_to_phone(contact.phone) %></a>
              <br/>
              <%= mail_to(contact.email) unless contact.email.nil? %>
            </p>
          </div>
      <% end %>
    </div>
</div>
