<!-- edited by vchar on 20180807 -->
<!-- partially updated by vchar on 20180814 -->

<% if (customer.cust_type_id == 1) || (customer.is_a? CustomerLead) %>
    <div class="row">
        <div class="col">
            <h5>Contact:</h5>
            <p><%= customer.actual_name%></p>
            <p>Number: <%= num_to_phone(customer.phone)%></p>
            <p>Email: <%= mail_to(customer.email) unless customer.email.nil? %></p>
        </div>
    </div>
<% else %>
    <div class= "row">
        <div class="col">
            <% staff = customer.staff %>
            <table class="table table-stripe table-sm">

                <!-- BEGIN: Sale rep's details -->
                <tr>
                    <th>Salesperson</th>
                    <th><%= staff.nickname %></th>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><%= link_to num_to_phone(staff.contact_number), 'tel:' + staff.contact_number unless staff.contact_number.nil? %></td>                    
                </tr>
                <tr>
                    <td>Email</td>
                    <td><%= mail_to(staff.email) unless staff.email.nil? %></td>
                </tr>
                <!-- END: Sale rep's details -->

        
                <!-- BEGIN: Customer's details -->
                <tr>
                    <th colspan="2">Customer</th>
                </tr>
                <% unless customer.email.nil? %>
                    <tr>
                        <td>Primary Email</td>
                        <td><%= mail_to(customer.email) %></td>
                    </tr>
                <% end %>
                <% unless customer.email_for_sales.nil? %>
                    <tr>
                        <td>Sale Email</td>
                        <td><%= mail_to(customer.email_for_sales) %></td>
                    </tr>
                <% end %>
                <% unless customer.email_for_accounts.nil? %>
                    <tr>
                        <td>Account Email</td>
                        <td><%= mail_to(customer.email_for_accounts) %></td>
                    </tr>
                <% end %>
                <% unless customer.phone.nil? %>
                    <tr>
                        <td>Phone</td>
                        <td><%= customer.phone %></td>
                    </tr>
                <% end %>
                <!-- END: Customer's details -->
                
                <!-- BEGIN: Xero Contact's details -->
                <tr>
                    <th colspan="2">Contact Person</th>
                </tr>
                <% XeroContactPerson.all_contact_people(customer.xero_contact_id).each do |person| %>
                    <tr>
                        <td>Name</td>
                        <td><%= person.first_name + " " + person.last_name %></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><%= mail_to(person.email_address) unless person.email_address.nil? %></td>
                    </tr>
                <% end %>
                <!-- END: Xero Contact's details -->

                <!-- BEGIN: Contact's details -->
                <tr>
                    <th>Contacts</th>

                    <td>
                        <% customer.cust_contacts.each do |contact| %>
                            <% 
                                person = contact.contact
                                contact_name = person.name.gsub(' ', '_') unless person.name.nil?
                            %>

                            <button class="btn btn-outline-secondary btn-sm btn-block" type="button" 
                                data-toggle="collapse" data-target="#<%= contact_name %>"
                                aria-expanded="false" aria-controls="<%= contact_name %>">
                                <%= person.name %>
                            </button>
                            
                            <div class="row">
                                <div class="col">
                                    <div class="collapse multi-collapse" id="<%= contact_name %>">
                                        <div class="card">
                                            <div class="card-footer">
                                                <%= link_to '<i class="far fa-trash-alt" title="Delete"></i>'.html_safe, 
                                                    { controller: 'customer', action: 'summary', customer_id: @customer.id, 
                                                    customer_name: @customer.actual_name, method: 'delete_contact', 
                                                    contact_id: person.id }, data: { confirm: "Do you want to delete contact 
                                                    #{person.name} for #{customer.actual_name}?"}%>

                                                <%= link_to person.name, controller: 'contact', action: 'summary', 
                                                    contact_id: person.id%>
                                            </div>
                                            <div class="card-body">
                                                <small class="text-muted">
                                                    <% unless contact.position.blank?%>
                                                        <%= contact.position %><br/>
                                                    <% end %>
                                                    <% unless contact.title.blank? %>
                                                        <%= contact.title %><br/>
                                                    <% end %>
                                                    <% unless contact.phone.blank? %>
                                                        <%= contact.phone %><br/>
                                                    <% end %>
                                                    <% unless contact.email.blank? %>
                                                        <%= mail_to(contact.email) %><br/>
                                                    <% end %>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </td>                
                </tr>
                <!-- END: Contact's details -->
            </table>
        </div>

        <div class="col">
        </div>
    </div>
    <h5>  Contacts:</h5>
      <div class= "row">
          
      </div>
      <% contact_phone = Contact.filter_by_xero_contact_id(customer.xero_contact_id) %>
      <div class= "row">
        <% contact_phone.each do |contact| %>
          <div class="col-xs-4">
            <h5><%= contact.name+": "%></h5>
            <p>Ph: <%= contact.area_code unless contact.area_code.nil? %> <%= contact.number unless contact.number.nil? %></p>
          </div>
        <% end %>
      </div>
  </div>
<% end %>
