<%= title "Orders" %>

<div class="row">
	<div class="col-12">
		<div class="card">
		  	<div class="card-header text-center h3 text-secondary">
				<%= orders_page_title(@staff_nickname, @start_date, @end_date) %>
				<p class="h5 mt-2">
					<%= link_to '<i class="fas fa-search-plus" title="View My Orders" 
						style="color: black;"></i>'.html_safe, action: 'all', 
						staff: {id: session[:user_id]} unless current_user_sales?(session[:authority]) 
					%>

					<%= link_to '<i class="fas fa-file-alt" title="Add New Orders" style="color: black;"></i>'.html_safe, action: 'create_order' %>
				</p>
		  	</div>
	 	 	<div class="card-body">
	 	 		<%= render 'order_partials/order_status_label' if user_full_right(session[:authority]) %>
		  	</div>
		  	<div class="card-footer text-muted">
	 	 		<%= form_tag({:controller => "order", :action => "all"}, {:method => "get"}) do %>
	 	 			<div class="row">
						<%= render "partials/order_filter" %>
						<%= hidden_field_tag :start_date, @start_date %>
					  	<%= hidden_field_tag :end_date, @end_date %>
					  	<div class="col p-1">
					  		<%= submit_tag "Filter", class: 'btn btn-primary' %>
					  	</div>
					  	<div class="col p-1">
					  		<%= link_to "Reset", {controller: "order", action: "all"}, class: "btn btn-primary" %>
					  	</div>
					</div>
		 	 	<% end %>		    
		  	</div>
		</div>
	</div>
</div>

<%= render "partials/order", orders: @orders, display_class: "none", product_ids: nil %>
