<%= title "Orders" %>
<h3><%= orders_page_title(@staff_nickname, @start_date, @end_date) %></h3>
<center><%= link_to "View My Orders", action: 'all', staff: {id: session[:user_id]} unless current_user_sales?(session[:authority]) %></center>

<%= form_tag({:controller => "order", :action => "all"}, {:method => "get"}) do %>

<div class="form-group container-fluid" style="margin-top: 50px;">

	<%= render "partials/order_filter" %>

	<%= hidden_field_tag :start_date, @start_date %>
   	<%= hidden_field_tag :end_date, @end_date %>
   	<%= submit_tag "Filter", class: 'btn btn-primary' %>
   	<%= link_to "Reset", {controller: "order", action: "all"}, class: "btn btn-primary" %></button>
</div>

<%= render "partials/order", orders: @orders, display_class: "none", product_ids: nil %>
<% end %>
