<%= title 'Orders'%>
<h3>Orders</h3>
<center><%= link_to "View BigCommerce Orders", action: 'all'%></center>
<center><%= link_to "Add New Order", action: 'create_order'%></center>

<table class="table table-striped table-bordered table-hover table-responsive orders-view default" id="orders-view-table">
	<thead>
		<tr>
			<th>Order Id
				<%= render "partials/sort_arrows", order: 'order_by_id' %></th>
			<th>Date</th>
			<th>Customer
				<%= render "partials/sort_arrows", order: 'order_by_customer' %></th>
			<th>Qty
				<%= render "partials/sort_arrows", order: 'order_by_qty' %></th>
			<th>Total
				<%= render "partials/sort_arrows", order: 'order_by_total' %></th>
			<th>Sales Rep
				<%= render "partials/sort_arrows", order: 'order_by_staff' %></th>
			<th>Invoice Status</th>
		</tr>
	</thead>
  <tbody>
    <% @orders.each do |order|%>
      <tr>
        <td><%= link_to order.id, action: 'order_update', order_id: order.id%></td>
        <td><%= date_format_orders(order.created_at) %></td>
        <td><%= Customer.find(order.customer_id).actual_name %></td>
        <td><%= order.qty %></td>
        <td><%= order.total_inc_tax %></td>
        <td><%= Staff.find(order.staff_id).nickname %></td>
        <td><%= link_to 'new pdf', action: 'generate_invoice', order_id: order.id%></td>
      </tr>
    <% end %>
  </tbody>
</table>
