<%= title "Order # " + @order_id %>
<h3>Order #<%= @order_id %></h3>

<%= render "partials/order", orders: @order, display_class: "none", product_ids: nil %>

<%= render "partials/order_product", order_products: @order.first.order_products, cust_id: @order.first.customer_id, cust_name: customer_name(@order.first.customer) %>

<div class="well panel-default panel" style="margin-top:20px;margin-left:100px;width:30%;float:left;">
  <h4 class="panel-heading">Customer Notes</h4>
  <div class="panel-body"><%= @order.first.customer_notes %></div>
</div>

<div class="well panel-default panel" style="margin-top:20px;margin-left:200px;width:30%;float:left;">
  <h4 class="panel-heading">Staff Notes</h4>
  <div class="panel-body"><%= @order.first.staff_notes %></div>
</div>

<% unless @tasks.nil? || @tasks.blank?%>
<div class="container">
    <div class="row">
        <div style="margin-top: -10px;">
            <%= render "task_partials/task_table", display_all: "Yes"%>
        </div>
    </div>
</div>
<% end %>
