<%= title "Order # " + @order_id %>
<h3>Order #<%= @order_id %></h3>
<center>
  <%= link_to '<i class="glyphicon glyphicon-edit" title="Edit!"></i>'.html_safe, action: 'order_update', order_id: @order_id %>
  <%= link_to '<i class="glyphicon glyphicon-refresh" title="Update"></i>'.html_safe, action: 'order_confirmation', order_id: @order_id if user_full_right(session[:authority]) %>
  <%= link_to '<i class="glyphicon glyphicon-print" title="Print Invoice!"></i>'.html_safe, action: 'generate_invoice', order_id: @order_id%>
  <%= link_to '<i class="glyphicon glyphicon-hand-right" title="History!"></i>'.html_safe, action: 'order_history', order_id: @order_id%>
  <%= link_to '<i class="glyphicon glyphicon-envelope" title="Send Email!"></i>'.html_safe, action: 'order_email', order_id: @order_id%>
</center>

<%= render "partials/order", orders: @order, display_class: "none", product_ids: nil %>

<%= render "partials/order_product", order_products: @order.first.order_products, cust_id: @order.first.customer_id, cust_name: customer_name(@order.first.customer) %>

<%= render "order_partials/notes", order: @order.first%>

<div class="container">
  <div class="row">
    <%= render 'partials/shipping', order_id: @order_id%>
  </div>
  <% unless @tasks.nil? || @tasks.blank?%>
      <div class="row">
          <div style="margin-top: -10px;">
              <%= render "task_partials/task_table", display_all: "Yes"%>
          </div>
      </div>
  <% end %>
</div>
