<!-- edited by vchar on 20180822 -->

<%= title @product_name %>

<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center h3 text-secondary">
                <%= @product_name %>
            </div>
            <div class="card-body">


                <%= form_tag({:controller => "order", :action => "for_product"}, {:method => "get",
                    :class => "form-inline justify-content-center"}) do %>
                    	
                    <%= render "partials/order_filter" %>

                	<%= hidden_field_tag :product_id, @product_id %>
                   	<%= hidden_field_tag :product_name, @product_name %>
                   	<%= hidden_field_tag :transform_column, @transform_column %>
                   	<%= submit_tag "filter", class: 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<%= render "partials/order", orders: @orders, product_ids: @product_ids, display_class: "" %>