<% is_beer = is_beer_order(@order.id) %>
<%= title @order.customer.cust_type.name + " " + (is_beer ? "Beers" : "Wines") + " Order #" + @order.id.to_s %>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
        <div class="card-header text-center h3 text-secondary">
          <%= @order.customer.cust_type.name + " " + (is_beer ? "Beers" : "Wines") + " Order #" + @order.id.to_s %>
        </div>
      <div class="card-body text-center">
        Date: <i><%= @order.date_created.to_date.strftime('%d/%m/%Y')%></i> 
        Due Date:<i><%= (@order.date_created.to_date + 30.days).strftime('%d/%m/%Y')%></i>
      </div>
    </div>
  </div>
</div>

<%# title_type = "" %>

<%= form_for @order, url: {controller: "order", action: "update_order"}, method: :POST  do |f| %>
  <%= f.hidden_field :id %>
  <% if is_beer_order(@order.id) %>
  <% 	  if @order.customer.cust_type_id == 1 %>
  <%=  		render 'order_partials/retail_beer_order_form', f: f %>
  <% 	  elsif @order.customer.cust_type_id == 2 %>
  <%= 		render 'order_partials/beer_order_form', f: f %>
  <% 	  else %>
  <%= 		render 'order_partials/retail_beer_order_form', f: f %>
  <%  	end %>
  <%  else %>
  <% 	  if @order.customer.cust_type_id == 1 %>
  <%=  		render 'order_partials/retail_order_form', f: f %>
  <% 	  elsif @order.customer.cust_type_id == 2 %>
  <%= 		render 'order_partials/order_form', f: f %>
  <% 	  else %>
  <%= 		render 'order_partials/retail_order_form', f: f %>
  <%  	end %>
  <% end %>
<% end %>