<% is_beer = is_beer_order(@order.id) %>
<%= title @order.customer.cust_type.name + " " + (is_beer ? "Beers" : "Wines") + " Order #" + @order.id.to_s %>
<h3><%= @order.customer.cust_type.name + " " + (is_beer ? "Beers" : "Wines") + " Order #" + @order.id.to_s %></h3>
<% title_type = "" %>
<center>Date: <i><%= @order.date_created.to_date.strftime('%d/%m/%Y')%></i> Due Date:<i><%= (@order.date_created.to_date + 30.days).strftime('%d/%m/%Y')%></i></center>
<%= form_for @order, url: {controller: "order", action: "update_order"}, method: :POST  do |f| %>
  <%= f.hidden_field :id %>
  <% if is_beer_order(@order.id) %>
  <% 	if @order.customer.cust_type_id == 1 %>
  <%=  		render 'order_partials/retail_beer_order_form', f: f %>
  <% 	elsif @order.customer.cust_type_id == 2 %>
  <%= 		render 'order_partials/beer_order_form', f: f %>
  <% 	else %>
  <%= 		render 'order_partials/retail_beer_order_form', f: f %>
  <%  	end %>
  <%  else %>
  <% 	if @order.customer.cust_type_id == 1 %>
  <%=  		render 'order_partials/retail_order_form', f: f %>
  <% 	elsif @order.customer.cust_type_id == 2 %>
  <%= 		render 'order_partials/order_form', f: f %>
  <% 	else %>
  <%= 		render 'order_partials/retail_order_form', f: f %>
  <%  	end %>
  <% end %>

  <%# if @order.wet.nil? %>
  <%#= render 'order_partials/retail_order_form', f: f%>
  <%# else %>
  <%#= render 'order_partials/order_form', f: f%>
  <%# end %>
<% end %>

   <!--  
customer = order.customer

   if order.is_beer_order(order)
      if customer.cust_type_id == 1
        template = 'pdf/rs_beer_order_invoice.pdf'  # retail wines
      else
        template = 'pdf/ws_beer_order_invoice.pdf'  # wholesale beers
      end
    else
      if customer.cust_type_id == 1
        template = 'pdf/retail_order_invoice.pdf'   # retail wines
      else
        template = 'pdf/order_invoice.pdf'          # wholesale wines
      end -->