<%= title 'Order#' + @order.id.to_s %>
<h3>Order#<%= @order.id %></h3>
<%= form_for @order, url: {controller: "order", action: "update_order"}, method: :POST  do |f| %>
  <%= f.hidden_field :id %>
  <%= render 'order_partials/order_form', f: f%>
<% end %>
