<%= title 'Print Orders'%>
<h3>Print Checklist</h3>
  <%= form_tag({:controller => "status", :action => "status_update"}, {:method => "get"}) do %>
    <% if @orders.blank?%>
      <%= hidden_field_tag "order['id']", 100 %>
    <% else %>
      <%= hidden_field_tag "order['id']", @orders.first.id %>
    <% end %>

    <%= render "partials/order_status", orders: @orders, display_class: "none", product_ids: nil%>
    <%= submit_tag 'Print Picking Slip', class: 'btn btn-primary'%>
    <%= submit_tag 'Print Invoices', class: 'btn btn-primary'%>
    <%= submit_tag 'Print Picking Sheets', class: 'btn btn-primary'%>
  <% end %>
