<!-- edited by vchar on 20180805 -->
<%= title "Leads" %>
<div class="row">
	<div class="col-12">
		<div class="card">
		  	<div class="card-header text-center h3 text-secondary">
				Leads
				<p class="h5 mt-2">
                    <%= link_to "Create new lead", {action: 'create_leads'},
                        class: "btn btn-outline-primary text-info" %>
                    <%= link_to "Create new lead", new_lead_path,
                        class: "btn btn-outline-primary text-info" %>
                    <%= link_to "Leads - customers", {action: 'link_leads'},
                        class: "btn btn-outline-primary text-info" %>
				</p>
		  	</div>
	 	 	<div class="card-body">
                <!-- BEGIN: form filter -->
                <%= form_tag({:controller => "lead", :action => 'all_leads'}, {:method => "get"}) do %>
                    <div class="row">
                        <%= render "partials/customer_filter" %>
                        <div class="col-1 p-1">
                            <%= submit_tag "Filter", class: 'btn btn-primary' %>
                        </div>
                    </div>
                <% end %>
                <!-- END: form filter -->
            </div>
        </div>
    </div>
</div>

<!-- BEGIN: pagination -->
<%= render 'partials/form_paginate', objects: @leads%>
<!-- END: pagination -->

<!-- BEGIN: leads list -->
<%= render "lead_partials/leads", leads: @leads %>
<!-- END: leads list -->
