<%= title "Create Lead"%>
<h3>Create Lead</h3>
<br/>

<%= form_for @customer_lead, url: {action: "create_leads_handler"}, method: "POST", html: {class: "form-group", style: "padding-left: 50px;"} do |f| %>

<div id="selector" class="btn-group">
  <button type="button" class="btn btn-default <%= 'active' if @customer_lead_button %>" value="customer">Customer Lead</button>
  <button type="button" class="btn btn-default <%= 'active' unless @customer_lead_button %>" value="region">Region Lead</button>
</div>
<br/>
<div class="customer_leads_field">
  <%= f.label :firstname, class: 'margin-from-top label-new' %>
  <%= f.text_field :firstname, class: 'form-control quarter-size' %>
  <br/><br/>

  <%= f.label :lastname, class: 'margin-from-top label-new' %>
  <%= f.text_field :lastname, class: 'form-control quarter-size' %>
  <br/><br/>
</div>

  <%= f.label :actual_name, class: 'margin-from-top label-new' %>
  <%= f.text_field :actual_name, class: 'form-control quarter-size' %>
  <br/><br/>

<div class="customer_leads_field">
  <%= f.label :email, class: 'margin-from-top label-new' %>
  <%= f.text_field :email, class: 'form-control quarter-size' %>
  <br/><br/>

  <%= f.label :phone, class: 'margin-from-top label-new' %>
  <%= f.text_field :phone, class: 'form-control quarter-size' %>
  <br/><br/>
</div>

<div class="region_leads_field">
  <%= f.label :region, class: 'margin-from-top label-new' %>
  <%= f.text_field :region, class: 'form-control quarter-size' %>
  <br/><br/>
</div>

  <%= f.label :address, class: 'margin-from-top label-new' %>
  <%= f.text_field :address, class: 'form-control quarter-size' %>
  <br/><br/>

  <%= f.label :staff, class: 'margin-from-top label-new' %>
  <%= f.collection_select :staff_id, Staff.active_sales_staff, :id, :nickname, {selected: @customer_lead.staff_id}, {class: "form-control quarter-size"} %>
  <br/><br/>

  <%= f.label :channel, class: 'margin-from-top label-new' %>
  <%= f.collection_select :cust_style_id, CustStyle.all, :id, :name, {selected: @customer_lead.cust_style_id, :include_blank => 'Not Assigned'}, {class: "form-control quarter-size"} %><br/><br/>


<div class="customer_leads_field">
  <%= f.label :type, class: 'margin-from-top label-new' %>
  <%= f.collection_select :cust_type_id, CustType.all, :id, :name, {selected: @customer_lead.cust_style_id, :include_blank => 'Not Assigned'}, {class: "form-control quarter-size"} %><br/><br/>

  <%= f.label :group, class: 'margin-from-top label-new' %>
  <%= f.collection_select :cust_group_id, CustGroup.all, :id, :name, {selected: @customer_lead.cust_group_id, :include_blank => 'Not Assigned'}, {class: "form-control quarter-size"} %><br/><br/>
</div>
  <%= f.submit "Create!", class: 'btn btn-primary' %>
<% end %>

<p style="padding-left: 50px;"><%= link_to "Go Back to Customer Profile", action: 'summary', customer_id: @customer_id, customer_name: @customer_name %></p>

<script>
if ($('#selector button.active').val() == "customer") {
  $(".customer_leads_field").show();
  $(".region_leads_field").hide();
} else {
  $(".region_leads_field").show();
  $(".customer_leads_field").hide();
};

$('#selector button').click(function () {
  $(this).addClass('active').siblings().removeClass('active');

  if ($(this).val() == "customer") {
    $(".customer_leads_field").show();
    $(".region_leads_field").hide();
  } else {
    $(".region_leads_field").show();
    $(".customer_leads_field").hide();
  };
});

</script>
