<%= title @product_name + " - " + @customer_name %>
<h3><%= @product_name %></h3><br/>
<h3><%= @customer_name %></h3>

<div style="margin-top: 50px;">
<%= form_tag({:action => "orders_and_stats_for_product_and_customer" }, {:method => "get"}) do %>
	<%= render "partials/overall_stats", time_periods_name: @time_periods_name, sum_stats: @sum_stats, avg_stats: @avg_stats, monthly_supply_display_class: "none", monthly_supply: [] %>

	<%= hidden_field_tag :product_id, @product_id %>
   	<%= hidden_field_tag :product_name, @product_name %>
   	<%= hidden_field_tag :customer_id, @customer_id %>
   	<%= hidden_field_tag :customer_name, @customer_name %>

<% end %>
</div>

<%= render "partials/order", orders: @orders, display_class: "" %>