<%= title "Detailed Products Dashboard" %>

<h3>Products Sales</h3>
<div class="form-group container-fluid">
	<%= form_tag({:action => "product_dashboard"}, {:method => "get"}) do %>
	<%= render "partials/extended_product_filter" %>

	<br/>
	<%= render "partials/detailed_dashboard_date_filter" %>
	<%= render "sales_partials/dashboard_range_filter"%>

	<div class="row" style="margin-top: 20px;">
		<%= render "sales_partials/product_type_filter"%>

		<%= render "sales_partials/stats_or_details_filter"%>

		<div class="col-md-4">
			<span style="margin-left: 50px;">

			<%= submit_tag "Submit", class: 'btn btn-primary' %>
			</span>
			<button class = "btn btn-primary"><%= link_to "Reset", action: "product_dashboard" %></button>
			<%= submit_tag "Update", class: 'btn btn-primary' if [9,36].include?session[:user_id]%>
		</div>
	</div>

</div>
	<% if @checked_stats %>
		<div>
			<%= render "sales_partials/stats_view", sum_param: "Qty", supply_display_class: "" %>
		</div>
	<% else %>
		<%= render "sales_partials/details_view" %>
	<% end %>
<% end %>
