<%= title "Weekly Sales Dashboard" %>

<h3>Weekly Sales</h3>

<table class = "table table-striped table-bordered table-hover table-responsive">
	<tr>
		<th></th>
		<% @dates_paired.each do |week_num, date_pair| %>
			<th> <%= date_format_orders(date_pair[0]) %> - <%= date_format_orders(date_pair[1].prev_day) %></th>
		<% end %>
		<th>Total</th>
	</tr>
	<tr>
		<th></th>
		<% @dates_paired.each do |week_num, date_pair| %>
			<th> <%= week_num %></th>
		<% end %>
		<th></th>
	</tr>

	<tr>
		<td></td>
		<%= render "partials/daily_sums", sums_dates_h: @sums_by_periods, dates: @dates_paired.keys, dates_map: @dates_paired, staff_nickname: nil, staff_id: nil %>
	<tr>

	<tr class = "blank-row"><td colspan="9"></td><tr>

	<tr>
		<%= render "partials/staff_sums", sums_dates_staffs_h: @staff_sum_by_periods, staffs: @staff_nicknames, dates: @dates_paired.keys, dates_map: @dates_paired %>
	</tr>
</table>