<!-- edited by vchar on 20180821 -->

<%= title "Detailed Sales Dashboard" %>
<!-- start filter -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center h3 text-secondary">
                Detailed Sales <%= "Merged" if params[:type] == "merged" %>
            </div>
            <div class="card-body">
                <%= form_tag({:action => "sales_details_merged"}, 
                        {:method => "get", :class => "form-inline justify-content-center"} ) do %>
                    <%= hidden_field_tag :type , params[:type] %>
                    <%= render "partials/detailed_dashboard_date_filter" %>
                    <%= submit_tag :submit, class: 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!-- end filter -->

<!-- start table -->
<div class="row">
    <div class="col-12">
        <table class = "table table-striped table-bordered table-hover table-responsive w-100 d-block d-table">
            <tr>
                <th>Start Date - End Date</th>
                <% @dates_paired.each do |week_num, date_pair| %>
                    <th>
                        <%= date_format_orders(date_pair[0]) %> - 
                        <%= date_format_orders(date_pair[1].prev_day) %>
                    </th>
                <% end %>
                <th><%= @avg_sum ? "Average" : "Total"%></th>
            </tr>

            <%#= dates_map is a hash like {date => date} when columns are single days, 
                {week_num => [start_date, end_date]} when columns are weeks, 
                {[month_num, year] => [start_date, end_date]} for months 
            %>

            <%#= sums_dates_h are a hash like {[start_date, end_date] => sum} %>

            <tr>
                <td><%= @param_val %></td>
                <%= render "partials/daily_sums", 
                    sums_dates_h: @sums_by_periods, 
                    dates: @dates_paired.keys, 
                    dates_map: @dates_paired, 
                    staff_nickname: nil, 
                    staff_id: nil %>
            </tr>
            
            <tr class = "blank-row">
                <td colspan="20"></td>
            </tr>

            <%= render params[:type] == "merged" ? "partials/staff_sums_merged" : "partials/staff_sums",
                sums_dates_staffs_h: @staff_sum_by_periods, 
                staffs: @staff_nicknames, 
                dates: @dates_paired.keys, 
                dates_map: @dates_paired, 
                current_user: @current_user, 
                display_all: @display_all, 
                merged: params[:type]  %>

            <tr>
                <%= render "sales_partials/cust_group_sums", 
                    sums_dates_h: @cust_group_sum, 
                    dates: @dates_paired.keys, 
                    dates_map: @dates_paired, 
                    cust_group_name: @cust_group_name, 
                    staff_nickname: nil, 
                    staff_id: nil %>
            </tr>
        </table>
    </div>
</div>
<!-- end table -->