<%= title @customer_name %>
<h3>Top Products for <%= @customer_name %> (Bottles)</h3><br/>

<div class="form-group container-fluid">
	<%= form_tag({:action => "top_products_for_customer"}, {:method => "get"}) do %>
	<%= render "partials/product_filter" %>
	<%= hidden_field_tag :customer_id, @customer_id %>
   	<%= hidden_field_tag :customer_name, @customer_name %>
<% end %>
</div>

<%= render "partials/top_products", time_periods_name: @time_periods_name, products: @products_h, stats: @all_stats, customer_id: @customer_id, customer_name: @customer_name %>