<div class="dropdown">
	<button class="button dropdown-toggle" type="button" data-toggle="dropdown">Change Status
	<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% @all_statuses.each do |s| %>

      	  <li><%= link_to s.name, action: "view_orders_by_status", status_id: s.id, status_name: s.name %></li>

      <% end %>
    </ul>
</div>

<div style="margin-top: 50px;" align="center">
	<button class="button not-default inline orders-view" id="orders-view-button">Orders View</button>
	<button class="button default inline products-view" id="products-view-button">Products View</button>
</div>
<br/><br/>

<h3 id="orders-view-heading" class="orders-view not-default"><%= @page_header_orders %></h3><br/>
<div class="form-group orders-view not-default" style="margin-left:550px;">
<%= form_tag({:action => "view_orders_by_status"}, {:method => "get"}) do %>
   <div class="col-xs-3">
   <%= collection_select(:staff, :id, @staffs, :id, :nickname, {:include_blank => 'All Staff'}, {:class => 'form-control'}) %>
   </div>
   <%= hidden_field_tag :status_id, @status_id %>
   <%= hidden_field_tag :status_name, @status_name %>
   <%= submit_tag "Filter", class: 'btn btn-primary' %>
<% end %>
</div>

<table class = "table table-striped table-bordered table-hover table-responsive orders-view not-default" id = "orders-view-table">
	<tr>
		<th>Sales Rep</th>
		<th>Date</th>
		<th>Order Id</th>
		<th>Customer</th>
		<th>Status</th>
		<th>Qty</th>
		<th>Total</th>
	</tr>

	<% @orders.each do |o| %>

		<tr>

			<td class = "text"><%= o.customer.staff.nickname if !o.customer.nil? %></td>
			<td class = "text"><%= o.date_created.to_date %></td>
			<td class = "num"><%= link_to o.id, action: "view_products_for_orderid", order_id: o.id %></td>
			<td class = "text"><%= link_to get_customer_name(o.customer), action: "view_orders_for_customer", customer_id: o.customer_id %></td>
			<td class = "text"><%= link_to @status_name, action: "view_orders_by_status", status_id: @status_id, status_name: @status_name %></td>
			<td class = "num"><%= o.qty %></td>
			<td class = "num"><%= number_with_delimiter(number_with_precision(o.total_inc_tax, precision: 2)) %></td>

		</tr>

	<% end %>

</table>

<h3 id="products-view-heading" class="products-view default" style="text-align: center;"><%= @page_header_products %></h3><br/>

<table class = "table table-striped table-bordered table-hover table-responsive products-view" id = "products-view-table default">

	<tr>
		<th>Product Name</th>
		<th>Number of Orders</th>
		<th>Product Qty</th>
		<th>Invoice Totals</th>
	</tr>

	<% @product_map_sorted.each do |k,v| %>

		<tr>

			<td><%= link_to v[3], action: "view_orders_for_product_and_status", product_id: k, product_name: v[3], status_id: @status_id, status_name: @status_name %></td>
			<td class="num"><%= number_with_delimiter(v[0]) %></td>
			<td class="num"><%= number_with_delimiter(v[1]) %></td>
			<td class="num"><%= number_with_delimiter(number_with_precision(v[2], precision: 2)) %></td>


		</tr>	

	<% end %>


</table>
