<center>
<h4 class="success"><%= flash[:success] %></h4>
<h4 class="error"><%= flash[:error] %></h4>
</center>

<h3>Weekly Sales Summary</h3>
<div style="float:right; margin-right: 50px;">
<%= form_tag({:action => "view_sales_dashboard"}, {:method => "get"}) do %>
   Start Date:   <%= date_field( "selected_date", "selected_date", value: @dates_this_week.first ) %>
   <%= submit_tag "Change Start Date" %>
<% end %>
</div>
<br/><br/>

<table class = "table table-striped table-bordered table-hover table-responsive">

	<tr>

			<th></th>

		<% @dates_this_week.each do |day| %>
			<th> <%= day.strftime('%A %d/%m/%y') %></th>

		<% end %>

			<th>Total</th>

	</tr>

	<tr>

			<td class = "text">This Week </td>

		<% @dates_this_week.zip(@result_this_week).each do |sum| %>
			
			<td class = "num"><%= link_to number_with_delimiter(number_with_precision(sum[1], precision: 2)), controller: "models", action: "orders", start_date: sum[0], end_date: 1.day.since(sum[0]) %></td>

		<% end %>
			<td class="num"><%= link_to number_with_delimiter(number_with_precision(@result_this_week.last, precision: 2)), controller: "models", action: "orders", start_date: @dates_this_week.first, end_date: @dates_this_week.last %>
	
	</tr>
	<tr class = "italics">

			<td class = "text">Last Week </td>

		<% @dates_last_week.zip(@result_last_week).each do |sum| %>
			
			<td class = "num"><%= link_to number_with_delimiter(number_with_precision(sum[1], precision: 2)), controller: "models", action: "orders", start_date: sum[0], end_date: 1.day.since(sum[0]) %></td>

		<% end %>
	
			<td class = "num"><%= link_to number_with_delimiter(number_with_precision(@result_last_week.last, precision: 2)), controller: "models", action: "orders", start_date: @dates_last_week.first, end_date: @dates_last_week.last %></td>
	
	</tr>

	<tr class = "blank-row"><td colspan="9"></td><tr>
		

	<% @this_week_staff_totals.each do |staff| %>
		<tr>

			<td class = "text">

				<%= link_to staff[0],controller: "models", action: "orders", staff_nickname: staff[0], start_date: @dates_this_week.first, end_date: @dates_this_week.last, staff_id: staff[2] %>
				
			</td>

			<% @dates_this_week.zip(staff[1]).each do |sum| %>

				<td class = "num">
					<%= link_to number_with_delimiter(number_with_precision(sum[1], precision: 2)), controller: "models", action: "orders", staff_nickname: staff[0], start_date: sum[0], end_date: 1.day.since(sum[0]), staff_id: staff[2] %>
						
				</td>

			<% end %>


			<td class = "num"><%= link_to number_with_delimiter(number_with_precision(staff[1][-1], precision: 2)), controller: "models", action: "orders", staff_nickname: staff[0], start_date: @dates_this_week.first, end_date: @dates_this_week.last, staff_id: staff[2] %></td>

		</tr>

	<% end %>

</table>