<h3><center> <%= @customer_name %> -  <%= @product_name %>   Order History <br/>  </center></h3>
<br/><br/>

<table class = "table table-striped table-bordered table-hover table-responsive">
	<tr class="info">
		<th></th>
		<% @time_periods.each do |t| %>
			<th><%= t.name %></th>
		<% end %>
	</tr>

	<tr>
		<td>Total Qty</td>
		<% @product_stats_sum.each do |s| %>
			<td><%= number_with_delimiter(number_with_precision(s, precision: 2)) %></td>
		<% end %>
	</tr>
	<tr>
		<td><%= @average_time_specified.name %> Average</td>
		<% @product_stats_avg.each do |a| %>
			<td><%= number_with_delimiter(number_with_precision(a, precision: 2)) %></td>
		<% end %>
	</tr>	

</table>

<br/><br/>
<table class = "table table-striped table-bordered table-hover table-responsive">
	<tr>
		<th>Sales Rep</th>
		<th>Date</th>
		<th>Order Id</th>
		<th>Customer</th>
		<th>Status</th>
		<th>Selected Prod Qty</th>
		<th>Total Order Qty</th>
		<th>Total</th>
	</tr>

	<% @orders.each do |o| %>
		<tr>
			<td><%= o.customer.staff.nickname %></td>
			<td><%= o.date_created.to_date %></td>
			<td><%= link_to o.id, action: "view_products_for_orderid", order_id: o.id %></td>
			<td><%= link_to get_customer_name(o.customer), action: "view_orders_for_customer", customer_id: @customer_id %></td>
			<td><%= o.status.name %></td>
			<td class="num"><%= o.order_products.first.qty %></td>
			<td class="num"><%= o.qty %></td>
			<td class="num"><%= number_with_delimiter(number_with_precision(o.total_inc_tax, precision: 2)) %></td>
		</tr>
	<% end %>
</table>