<%= title "Customers" %>

<div class="row">
	<div class="col-12">
		<div class="card">
		  	<div class="card-header text-center h3 text-secondary">
				Customers
				<p class="h5 mt-2">
                    <%= link_to "Incomplete Customers", {action: 'incomplete_customers'}, 
                        class: "btn btn-outline-primary text-info" %>
                    <%= link_to "View My Customers", {action: 'all', 
                        staff: ({id: session[:user_id]} unless current_user_sales?(session[:authority]))}, 
                        class: "btn btn-outline-primary text-info" %>
				</p>
		  	</div>
	 	 	<div class="card-body">
                <%= form_tag({:controller => "customer", :action => customer_filter_path}, {:method => "get"}) do %>
                    <div class="row">
                        <%= render "partials/customer_filter" %>
                        <div class="col-1 p-1">
                            <%= submit_tag "Filter", class: 'btn btn-primary' %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<%= render "partials/customer", customers: @customers %>

<% unless @leads.nil? || @leads.blank? %>
	<h3>Lead</h3>
	<%= render "lead_partials/leads", leads: @leads  %>
<% end %>

<% unless @zomato.nil? || @zomato.blank? %>
	<h3>Zomato</h3>
	<%= render 'customer_partials/zomato_list', zomatos: @zomato%>
<% end %>
