<%= title "Edit #{@customer_name}"%>
<h3>Edit <%= @customer_name %></h3>
<br/>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_tag({:controller => "customer", :action => "edit"}, {:method => "get"}) do %>
    <%= text_field_tag('search', @search_text, placeholder: 'Search from Google', class: 'form-control') %>
    <%= hidden_field_tag :customer_id, @customer.id %>
    <%= hidden_field_tag :customer_name, @customer.firstname.to_s + ' ' + @customer.lastname.to_s %>
    <%= submit_tag "Search!", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="row place_lists">
  <% unless @google_spots.nil?%>
    <% @google_spots.each do |spot|%>
    <div class="col-xs-2">
      <p class="google-place" place-id = "<%= spot.place_id%>"><%= spot.name %></p>
      <br/>
      <p class="google-place-address <%= spot.place_id%>"><%= spot.formatted_address %></p>
    </div>
    <% end %>
  <% end %>
</div>

<%= form_for @customer, url: {action: "update"}, method: "POST", html: {class: "form-group", style: "padding-left: 50px;"} do |f| %>

  <%= f.hidden_field :id %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :firstname, class: 'margin-from-top label-new' %>
      <%= f.text_field :firstname, class: 'form-control quarter-size' %>
      <%= f.label @customer.cust_type.name, class: 'form-control quarter-size label-new' %>
    </div>
    <div class="col-md-6">
      <%= f.label :lastname, class: 'margin-from-top label-new' %>
      <%= f.text_field :lastname, class: 'form-control quarter-size' %>
    </div>
  </div>

    <%= f.label :actual_name, class: 'margin-from-top label-new' %>
    <%= f.text_field :actual_name, class: 'form-control quarter-size' %>
  <br/>

  <%= f.label :address, class: 'margin-from-top label-new' %>
  <%= f.text_field :street, placeholder: 'Street', class: 'address'%>
  <%= f.text_field :street_2, placeholder: 'Street 2', class: 'address'%>
  <%= f.text_field :city, placeholder: 'City', class: 'address'%>
  <%= f.text_field :state, placeholder: 'State', class: 'address'%>
  <%= f.text_field :postcode, placeholder: 'Postcode', class: 'address'%>
  <%= f.text_field :country, placeholder: 'Country', class: 'address'%>
  <%= f.text_field :address, class: 'form-control quarter-size' %>

  <div class="row">
    <div class="col-md-6">
      <%= f.label :phone, class: 'margin-from-top label-new' %>
      <%= f.text_field :phone, class: 'form-control quarter-size' %>
    </div>
    <div class="col-md-6">
      <%= f.label :email, class: 'margin-from-top label-new' %>
      <%= f.text_field :email, class: 'form-control quarter-size' %>
    </div>
  </div>

  <%= f.label :special_instruction_for_fastway, class: 'margin-from-top label-new' %>
  <%= f.text_field :SpecialInstruction1, placeholder: 'SpecialInstruction1'%>
  <%= f.text_field :SpecialInstruction2, placeholder: 'SpecialInstruction2'%>
  <%= f.text_field :SpecialInstruction3, placeholder: 'SpecialInstruction3'%>
  <br/>

  <%= f.label :tolerance_day, class: 'margin-from-top label-new'%>
  <%= f.number_field :tolerance_day, placeholder: 'Tolerance Day'%>
  <%= f.label :account_type, class: 'margin-from-top label-new' %>
  <%= f.collection_select :account_type, CustomerAccountType.account_type, :name, :name, {include_blank: 'Based on Invoice Date'}%>
  <%= f.label :default_courier, class: 'margin-from-top label-new' %>
  <%= f.collection_select :default_courier, CustomerAccountType.default_courier, :name, :name %>
  <%= f.label :payment_method, class: 'margin-from-top label-new' %>
  <%= f.text_field :payment_method, placeholder: 'Payment Method'%>
  <br/>

  <div class="col-md-4">
    <%= f.label :staff, class: 'margin-from-top label-new' %>
    <!-- Allow Angelica to update the staff reps of each customer -->
    <% if Staff.find(session[:user_id]).id ==  26 %>
    <!-- Disable according to Lucia's request -->
    <%= f.collection_select :staff_id, Staff.sales_list.order_by_order, :id, :nickname, {selected: @customer.staff_id}, {class: "form-control quarter-size"} %>
    <% else %>
    <%= f.label @customer.staff.nickname, class: 'form-control quarter-size label-new' %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= f.label :channel, class: 'margin-from-top label-new' %>
    <%= f.collection_select :cust_style_id, CustStyle.all, :id, :name, {:selected => @customer.cust_style_id, :include_blank => 'Not Assigned'}, {class: "form-control quarter-size"} %>
  </div>
  <div class="col-md-4">
    <%= f.label :group, class: 'margin-from-top label-new' %>
    <%= f.collection_select :cust_group_id, CustGroup.all, :id, :name, {:selected => @customer.cust_group_id, :include_blank => 'Not Assigned'}, {class: "form-control quarter-size"} %>
  </div>




  <%= f.submit "Update", class: 'btn btn-primary' %>
<% end %>

<p style="padding-left: 50px;"><%= link_to "Go Back to Customer Profile", action: 'summary', customer_id: @customer_id, customer_name: @customer_name %></p>

<!-- Google Places -->
<script type="text/javascript">
  $('.google-place').click(function(){
    $('input#customer_address').val($('p.google-place-address.'+ $(this).attr('place-id')).text());
  });

  $(document).on('input', '.address', function(){
    var street = $('#customer_street').val() + ' '+ $('#customer_street_2').val() + ' ';
    var city = $('#customer_city').val() + ' '+ $('#customer_state').val() +' '+ $('#customer_postcode').val() +' '+ $('#customer_country').val();

    $('#customer_address').val(street + city);
  });
</script>
