<%= title "Edit #{@customer_name}"%>
<h3>Edit <%= @customer_name %></h3>
<br/>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_tag({:controller => "customer", :action => "edit"}, {:method => "get"}) do %>
    <%= text_field_tag('search', @search_text, placeholder: 'Search from Google', class: 'form-control') %>
    <%= hidden_field_tag :customer_id, @customer.id %>
    <%= hidden_field_tag :customer_name, @customer.firstname.to_s + ' ' + @customer.lastname.to_s %>
    <%= submit_tag "Search!", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="row place_lists">
  <% unless @google_spots.nil?%>
    <% @google_spots.each do |spot|%>
    <div class="col-xs-2">
      <p class="google-place" place-id = "<%= spot.place_id%>"><%= spot.name %></p>
      <br/>
      <p class="google-place-address <%= spot.place_id%>"><%= spot.formatted_address %></p>
    </div>
    <% end %>
  <% end %>
</div>

<%= form_for @customer, url: {action: "update"}, method: "POST", html: {class: "form-group", style: "padding-left: 50px;"} do |f| %>

  <%= f.hidden_field :id %>

  <%= f.label :firstname, class: 'margin-from-top label-new' %>
  <%= f.text_field :firstname, class: 'form-control quarter-size' %>
  <%= f.label @customer.cust_type.name, class: 'form-control quarter-size label-new' %>
  <br/><br/>

  <%= f.label :lastname, class: 'margin-from-top label-new' %>
  <%= f.text_field :lastname, class: 'form-control quarter-size' %>
  <br/><br/>

  <%= f.label :actual_name, class: 'margin-from-top label-new' %>
  <%= f.text_field :actual_name, class: 'form-control quarter-size' %>
  <br/><br/>

  <%= f.label :address, class: 'margin-from-top label-new' %>
  <%= f.text_field :address, class: 'form-control quarter-size' %>
  <br/><br/>

  <%= f.label :staff, class: 'margin-from-top label-new' %>
  <%= f.collection_select :staff_id, Staff.active_sales_staff, :id, :nickname, {selected: @customer.staff_id}, {class: "form-control quarter-size"} %>
  <br/><br/>

  <%= f.label :channel, class: 'margin-from-top label-new' %>
  <%= f.collection_select :cust_style_id, CustStyle.all, :id, :name, {:selected => @customer.cust_style_id, :include_blank => 'Not Assigned'}, {class: "form-control quarter-size"} %><br/><br/>

  <%= f.label :group, class: 'margin-from-top label-new' %>
  <%= f.collection_select :cust_group_id, CustGroup.all, :id, :name, {:selected => @customer.cust_group_id, :include_blank => 'Not Assigned'}, {class: "form-control quarter-size"} %><br/><br/>


  <%= f.submit "Update", class: 'btn btn-primary' %>
<% end %>

<p style="padding-left: 50px;"><%= link_to "Go Back to Customer Profile", action: 'summary', customer_id: @customer_id, customer_name: @customer_name %></p>

<!-- Google Places -->
<script type="text/javascript">
  $('.google-place').click(function(){
    $('input#customer_address').val($('p.google-place-address.'+ $(this).attr('place-id')).text());
  });
</script>
