<%= title @customer_name %>
<h3><%= @customer_name %></h3>

<center><%= link_to "Edit", action: 'edit', customer_id: @customer_id, customer_name: @customer_name %></center>

<button class="button" style="float: right;margin-top:-60px;margin-right:30px;"><%= link_to "Top Products", action: 'top_products', customer_id: @customer_id, customer_name: @customer_name %></button>

<%= form_tag({:action => "summary" }, {:method => "get"}) do %>

	<div style="margin-top: 10px;">
			<%= render "accounts_partials/invoice_header", customer: @customer %>
	</div>

	<div class="sales_stats" style="margin-top: 10px;">
		<%= render "partials/overall_stats", sum_param: "$", supply_display_class: "none" %>
		<%= hidden_field_tag :customer_id, @customer_id %>
	  <%= hidden_field_tag :customer_name, @customer_name %>
	</div>

	<div class="account_stats">
		<%= render 'accounts_partials/account_stats', customer: @customer, amount_due: @amount_due%>
	</div>

	<div class="customer_activity">
		<%= render 'customer_partials/activity'%>
	</div>

	<%= render "partials/order", orders: @orders, display_class: "none", product_ids: nil %>
<% end %>

<script>
	$('.activity-section').hide();

	<% if current_user_sales?(session[:authority]) %>
		$('.accounts-stats-section').hide();
	<% end %>
</script>
