<%= title @customer_name %>
<h3><%= @customer_name %></h3>

<center><%= link_to "Edit", action: 'edit', customer_id: @customer_id, customer_name: @customer_name %></center>

<button class="button" style="float: right;margin-top:-60px;margin-right:30px;"><%= link_to "Top Products", action: 'top_products', customer_id: @customer_id, customer_name: @customer_name %></button>

<div style="margin-top: 50px;">
<%= form_tag({:action => "summary" }, {:method => "get"}) do %>
	<%= render "partials/overall_stats", sum_param: "$", supply_display_class: "none" %>

	<%= hidden_field_tag :customer_id, @customer_id %>
   	<%= hidden_field_tag :customer_name, @customer_name %>

<% end %>
</div>

<%= render "partials/order", orders: @orders, display_class: "none", product_ids: nil %>