<%= title @product_name  + " - " + @customer_name %>
<h3><%= @customer_name %></h3><br/>
<h3><%= link_to @product_name, controller: 'product', action: 'summary', product_id: @product_id, product_name: @product_name, transform_column: @transform_column, pending_stock: @pending_stock, total_stock: @total_stock %></h3>
<h4>Total Stock: <%= @total_stock %></h4>

<%= form_tag({:action => "summary" }, {:method => "get"}) do %>

<div style="margin-top: 50px;">
	<%= render "partials/overall_stats", sum_param: "Qty", supply_display_class: "none" %>

	<%= hidden_field_tag :customer_id, @customer_id %>
   	<%= hidden_field_tag :customer_name, @customer_name %>
   	<%= hidden_field_tag :customer_name, @product_id %>
   	<%= hidden_field_tag :customer_name, @product_name %>

</div>

<%= render "partials/order", orders: @orders, display_class: "", product_ids: @product_ids %>
<% end %>
