<!-- edited by vchar on 20180821 -->

<%= title @customer_name %>

<div class="row">
	<div class="col-12">
		<div class="card">
		  	<div class="card-header text-center h3 text-secondary">
				Top Products for <%= @customer_name %> (Bottles)
		  	</div>
	 	 	<div class="card-body">
				<div class="form-group container-fluid">
					<%= form_tag({:action => "top_products"}, {:method => "get", 
						class: "form-inline justify-content-center mt-3"}) do %>
						<%= render "partials/product_filter" %>
						<%= hidden_field_tag :customer_id, @customer_id %>
					  <%= hidden_field_tag :customer_name, @customer_name %>
					<% end %>
				</div>
				<%= form_tag({:controller => "product", :action => "allocate"}, {:method => "get"}) do %>
					<%= submit_tag 'Allocate!', class: 'btn btn-warning' unless @transform_column=='product_no_vintage_id'%>
					<%= hidden_field_tag :transform_column, @transform_column %>
					<!-- End form -->
				<% end %>
			</div>
		</div>
	</div>
</div>

<table class = "table table-striped table-bordered table-hover table-responsive w-100 d-block d-table">
	<tr class="info">
		<th>ID</th>
		<th>Product <%= render "partials/sort_arrows", order: 0 %></th>
		<th>Supply <%= render "partials/sort_arrows", order: 'supply' %></th>
		<th>Inventory <%= render "partials/sort_arrows", order: 'inventory' %></th>
		<th>Pending <%= render "partials/sort_arrows", order: 'pending' %></th>
		<th>Price <%= render "partials/sort_arrows", order: 1 %></th>
		<%  @time_periods.each do |t| %>
			<th><%= t %><%= render "partials/sort_arrows", order: t %></th>
		<% end %>
	</tr>
	<% @product_ids.each do |id| %>
		<tr>
			<td>
				<%= check_box_tag 'selected_product[]', id, false, class: "contact_name_checkbox" unless @transform_column=='product_no_vintage_id' %>
				<%= id %>
			</td>
			<td><%= link_to @product_name_h[id], action: 'summary_with_product', customer_id: @customer_id, customer_name: @customer_name, product_id: id, product_name: @product_name_h[id], transform_column: @transform_column %></td>
			<td><%= @monthly_supply_h[id] %></td>
			<td><%= @inventory_h[id] %></td>
			<td><%= @pending_stock_h[id] %></td>
			<td><%= display_num(@price_h[id]) %></td>

			<% @time_periods.each do |t| %>
				<td><%= exists_in_h(@top_products_timeperiod_h[t], id) %></td>
			<% end %>
		</tr>
	<% end %>
</table>
