<%= title @customer_name %>
<h3>Top Products for <%= @customer_name %> (Bottles)</h3><br/>

<div class="form-group container-fluid">
	<%= form_tag({:action => "top_products"}, {:method => "get"}) do %>
	<%= render "partials/product_filter" %>
	<%= hidden_field_tag :customer_id, @customer_id %>
   	<%= hidden_field_tag :customer_name, @customer_name %>
<% end %>
</div>

<table class = "table table-striped table-bordered table-hover table-responsive">
	<tr class="info">
		<th>ID</th>
		<th><%= link_to "Product" %></th>
		<th><%= link_to "Price" %></th>
		<%  @time_periods.each do |t| %>
			<th><%= link_to t, params.merge(sort_column_stats: t) %></th>
		<% end %>
	</tr>

	<% @product_ids.each do |id| %>
	<tr>
		<td><%= id %></td>
		<td><%= @product_name_h[id] %></td>
		<td><%= display_num(@price_h[id]) %></td>

		<% @time_periods.each do |t| %>
			<td><%= exists_in_h(@top_products_timeperiod_h[t], id) %></td>
		<% end %>
	</tr>
	<% end %>

</table>