<%= title 'Zomato Restaurant List'%>
<h3>Zomato</h3>

<%= form_tag({controller: "customer", action: 'zomato'}, {:method => "get"}) do %>
  <div class="form-group" style="margin-left:300px;margin-top:50px;">
    <div class="row">
      <%= render "partials/zomato_filter" %>
      <div class="col-xs-2">
        <%= label(:cuisine_selection, 'Select Cuisine', class: 'btn btn-primary')%>
      </div>
      <%= submit_tag "Filter", class: 'btn btn-primary' %>
    </div>
    <div class="row cuisine-list" style="display: none;">
      <% cuisines = ZomatoCuisine.active_cuisines%>
      <% cuisines.map(&:priority_group).uniq.sort.each do |priority| %>
      <div class="row">
        <% cuisines.select{ |x| x.priority_group == priority}.each do |cuisine| %>
            <div class="col-xs-2">
              <%= check_box_tag 'selected_cuisine[]', cuisine.name, (@selected_cuisine.include? cuisine.name), class: "priority priority-" + priority.to_s %><%= cuisine.name%>
            </div>
        <% end %>
        <label class="btn btn-primary" for="select_all">Select All</label>
      </div>
      <br/>
      <% end %>
    </div>
    <div class="row cuisine-list" style="display: none;">
      <div class="col-md-4">
        <%= text_field_tag('suburb', '', placeholder: 'Include Suburb', class: 'form-control') %>
      </div>
      <div class="col-md-4">
        <%= submit_tag "Include", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <%= render 'customer_partials/zomato_list', zomatos: @zomato%>

<% end %>
<script type="text/javascript">
  $('label[for*=cuisine_selection]').click(function(){
    $('.cuisine-list').toggle();
  });

  $('label[for*=select_all]').click(function(){
    checkboxes = $(this).parent().find('.priority');
    flag = !checkboxes[0].checked;
    for(var i = 0; i < checkboxes.length; i ++){
      checkboxes[i].checked = flag;
    }
  });
</script>
