<!-- edited by vchar on 20180805 -->
<%= title 'Zomato Restaurant List'%>
<div class="row">
	<div class="col-12">
		<div class="card">
		  	<div class="card-header text-center h3 text-secondary">
				Zomato
				<p class="h5 mt-2">
                    <%= link_to "Incomplete Customers", {action: 'incomplete_customers'}, 
                        class: "btn btn-outline-primary text-info" %>
                    <%= link_to "View My Customers", {action: 'all', 
                        staff: ({id: session[:user_id]} unless current_user_sales?(session[:authority]))}, 
                        class: "btn btn-outline-primary text-info" %>
				</p>
		  	</div>
            <%= form_tag({controller: "customer", action: 'zomato'}, {:method => "get"}) do %>
    	 	 	<div class="card-body">
                    <div class="row justify-content-center"">
                        <%= render "partials/zomato_filter" %>
                        <div class="col-1 p-1 mr-2">
                            <%= label(:cuisine_selection, 'Select Cuisine', class: 'btn btn-primary')%>
                        </div>
                        <div class="col-1 p-1 ml-3">
                            <%= submit_tag "Filter", class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
                <div class="card-footer cuisine-list" style="display: none;">
                    <%= render "customer_partials/cuisines" %>
                    <div class="row cuisine-list" style="display: none;">
                        <div class="col-5 p-1">
                            <%= text_field_tag('suburb', '', placeholder: 'Include Suburb', class: 'form-control') %>
                        </div>
                        <div class="col-1 p-1">
                            <%= submit_tag "Include", class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<!-- BEGIN: zomato list -->
<%= render 'customer_partials/zomato_list', zomatos: @zomato%>
<!-- END: zomato list -->

<script type="text/javascript">
    $('label[for*=cuisine_selection]').click(function(){
        $('.cuisine-list').toggle();
    });
</script>