<div id="order_perior">
  <%= label(:start_date, "Events From")%>
  <div class='input-group date' id='start_timepicker'>
    <%= text_field_tag('start_time',"", placeholder: 'Start Timepicker', class: 'form-control') %>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
  <%= label(:end_date, "To")%>
  <div class='input-group date' id='due_timepicker'>
    <%= text_field_tag('due_time',"", placeholder: 'Due Date Timepicker', class: 'form-control') %>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>

<!-- Time Picker -->
<script>
  $(function () {
    $('#due_timepicker').datetimepicker({format: 'YYYY-MM-DD', defaultDate: "<%= @end_date.to_s%>", sideBySide: true});

    $('#start_timepicker').datetimepicker({
      format: 'YYYY-MM-DD', defaultDate: "<%= @start_date.to_s%>", sideBySide: true, useCurrent: false //Important! See issue #1075
    });

    $("#due_timepicker").on("dp.change", function (e) {
      $('#start_timepicker').data("DateTimePicker").maxdate(e.date);
    });
    $("#start_timepicker").on("dp.change", function (e) {
      $('#due_timepicker').data("DateTimePicker").minDate(e.date);
    });
  });
</script>
