<%= form_tag({:action => "map"}, {:method => "get"}) do %>
<div class="col-md-4">

    <div id="sales_menu"><a class="btn btn-default">Sales Executive</a></div>
    <div id="sales_rep">
        <% @staff.each do |person| %>
        <li>
          <%= check_box_tag 'selected_staff[]', person.id %>
          <%= person.nickname %>
          &nbsp;&nbsp;
        </li>
        <% end %>
    </div>
    <br/><br/>

    <div id="cust_type_menu"><a class="btn btn-default">Customer Type</a></div>
    <div id="cust_type">
        <% @customer_type.each do |cust| %>
        <li>
          <%= check_box_tag 'selected_cust_style[]', cust.id %>
          <%= cust.name %>
          &nbsp;&nbsp;
        </li>
        <% end %>
      </div>
      <br/><br/>

      <div id="selector" class="btn-group">
          <button type="button" class="btn btn-default <%= 'active' if @active_sales %>" value="Sales">Sales</button>
          <button type="button" class="btn btn-default <%= 'active' unless @active_sales %>" value="Last_Order">Last Order Date</button>
          <%= hidden_field_tag "filter_selector" %>
      </div>

    <div id="sales_slider">
      <table>
        <% @colour_guide.each do |colour|%>
        <tr>
          <td>
            <%= check_box_tag 'selected_colour[]', colour, (@colour_selected.include? colour) %>
          </td>
          <td>
            <svg width="15" height="15" id="svg_<%= colour %>">
                <rect width="15" height="15" style="fill:<%= colour %>;" id="cube_<%= colour %>" />
            </svg>
          </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>
            <input id="slider-<%= colour%>"/>
            <%= hidden_field_tag "order_range_#{colour}" %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>

    <div id="last_order_slider">
      <table>
        <% @colour_guide.each do |colour|%>
        <tr>
          <td>
            <%= check_box_tag 'selected_order_colour[]', colour, (@order_colour_selected.include? colour) %>
          </td>
          <td>
            <svg width="15" height="15" id="svg_<%= colour %>">
                <rect width="15" height="15" style="fill:<%= colour %>;" id="cube_<%= colour %>" />
            </svg>
          </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>
            <input id="slider-date-<%= colour%>"/>
            <%= hidden_field_tag "date_range_#{colour}" %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>

    <div id="order_perior">
      <%= label(:start_date, "Orders From")%>
      <div class='input-group date' id='start_timepicker'>
        <%= text_field_tag('start_time',"", placeholder: 'Start Timepicker', class: 'form-control') %>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
      <%= label(:end_date, "To")%>
      <div class='input-group date' id='due_timepicker'>
        <%= text_field_tag('due_time',"", placeholder: 'Due Date Timepicker', class: 'form-control') %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <br/><br/>
  <%= submit_tag "Search", class: 'btn btn-primary' %>
  <%= link_to "Reset", {controller: "calendar", action: "map"}, class: "btn btn-primary" %>

</div>
<% end %>

<!-- basic Filters and order amount -->
<script>
 $("#sales_rep").hide();
 $("#sales_menu").click(function(){
   $("#sales_rep").toggle();
 });

 $("#cust_type").hide();
 $("#cust_type_menu").click(function(){
   $("#cust_type").toggle();
 });

 if($('#selector button.active').val() == "Sales"){
   $("#sales_slider").show();
   $("#last_order_slider").hide();
 }else{
   $("#last_order_slider").show();
   $("#sales_slider").hide();
 };

 $('#selector button').click(function() {
    $(this).addClass('active').siblings().removeClass('active');
    $('input#filter_selector').attr('value', $(this).val());

    if($(this).val() == "Sales"){
      $("#last_order_slider").hide();
      $("#sales_slider").show();
    }else{
      $("#sales_slider").hide();
      $("#last_order_slider").show();
    };
  });

  var date_gap = 15
  var colour_guide = ["lightgreen", "green", "orange", "red", "violet", "purple"];
  for(i = 0; i < colour_guide.length; i++) {
    $("#slider-date-"+colour_guide[i]).slider({
        value: [date_gap*i, date_gap*(i+1)],
        min: 0,
        max: 90,
        step: 6,
        ticks: [0, 15, 30, 45, 60, 75],
        ticks_positions: [0, 20, 40, 60, 80, 100],
        ticks_labels: ['0 day','15', '30', '45', '60', '75']
    });
  };
  $("#slider-date-purple").on('change', function() {
    $("input#date_range_purple").attr('value', $(this).val());
  });
  $("#slider-date-violet").on('change', function() {
    $("input#date_range_violet").attr('value', $(this).val());
  });
  $("#slider-date-red").on('change', function() {
    $("input#date_range_red").attr('value', $(this).val());
  });
  $("#slider-date-orange").on('change', function() {
    $("input#date_range_orange").attr('value', $(this).val());
  });
  $("#slider-date-green").on('change', function() {
    $("input#date_range_green").attr('value', $(this).val());
  });
  $("#slider-date-lightgreen").on('change', function() {
    $("input#date_range_lightgreen").attr('value', $(this).val());
  });

 $("#slider-lightgreen").slider({
     value: [5000, 5000],
     min: 0,
     max: 5000,
     step: 5,
     ticks: [0, 500, 1500, 3000, 5000],
     ticks_positions: [0, 20, 40, 60, 80, 100],
     ticks_labels: ['$0', '$500', '$1500', '$3000', '$5000']
 });
 $("#slider-lightgreen").on('change', function() {
   $('input#order_range_lightgreen').attr('value', $(this).val());
 });

 $("#slider-green").slider({
     value: [3000, 5000],
     min: 0,
     max: 5000,
     step: 5,
     ticks: [0, 500, 1500, 3000, 5000],
     ticks_positions: [0, 20, 40, 60, 80, 100],
     ticks_labels: ['$0', '$500', '$1500', '$3000', '$5000']
 });
 $("#slider-green").on('change', function() {
   $('input#order_range_green').attr('value', $(this).val());
 });


 $("#slider-orange").slider({
     value: [1500, 3000],
     min: 0,
     max: 5000,
     step: 5,
     ticks: [0, 500, 1500, 3000, 5000],
     ticks_positions: [0, 20, 40, 60, 80, 100],
     ticks_labels: ['$0', '$500', '$1500', '$3000', '$5000']
 });
 $("#slider-orange").on('change', function() {
   $('input#order_range_orange').attr('value', $(this).val());
 });

 $("#slider-red").slider({
     value: [500, 1500],
     min: 0,
     max: 5000,
     step: 5,
     ticks: [0, 500, 1500, 3000, 5000],
     ticks_positions: [0, 20, 40, 60, 80, 100],
     ticks_labels: ['$0', '$500', '$1500', '$3000', '$5000']
 });
 $("#slider-red").on('change', function() {
   $('input#order_range_red').attr('value', $(this).val());
 });


  $("#slider-violet").slider({
      value: [0, 500],
      min: 0,
      max: 5000,
      step: 5,
      ticks: [0, 500, 1500, 3000, 5000],
      ticks_positions: [0, 20, 40, 60, 80, 100],
      ticks_labels: ['$0', '$500', '$1500', '$3000', '$5000']
  });
  $("#slider-violet").on('change', function() {
    $('input#order_range_violet').attr('value', $(this).val());
  });

  $("#slider-purple").slider({
      value: [0, 0],
      min: 0,
      max: 5000,
      step: 5,
      ticks: [0, 500, 1500, 3000, 5000],
      ticks_positions: [0, 20, 40, 60, 80, 100],
      ticks_labels: ['$0', '$500', '$1500', '$3000', '$5000']
  });
   $("#slider-purple").on('change', function() {
     $('input#order_range_purple').attr('value', $(this).val());
   });

</script>

<!-- Time Picker -->
<script>
  $(function () {
      $('#due_timepicker').datetimepicker({
        format: 'YYYY-MM-DD',
        sideBySide: true
      });

      $('#start_timepicker').datetimepicker({
        format: 'YYYY-MM-DD',
        sideBySide: true,
        useCurrent: false //Important! See issue #1075
      });

      $("#due_timepicker").on("dp.change", function (e) {
          $('#start_timepicker').data("DateTimePicker").maxdate(e.date);
      });
      $("#start_timepicker").on("dp.change", function (e) {
          $('#due_timepicker').data("DateTimePicker").minDate(e.date);
      });
  });
</script>
