<div class="monthly-calendar calendar-table" id="calendar-staff-<%= staff_id%>" staff="<%= staff_id%>" start-date="<%= @start_date.to_s%>">
  <%= month_calendar events: events do |date, meetings| %>
    <%= link_to date.strftime('%e %b'), fetch_calendar_date_path(calendar_date_selected: date, calendar_staff_selected: staff_id), :remote => true %>
    <% meetings.each do |meeting| %>
      <div>
        <%begin%>
          <% customer = Customer.find(meeting.customer_id) %>
          <p style="color: green;"><%= link_to customer.actual_name, controller: 'customer', action: 'summary', customer_id: customer.id, customer_name: customer.actual_name %></p>
        <%rescue%>
          <%begin%>
          <% lead = CustomerLead.find(meeting.customer_lead_id) %>
          <p style="color: blue;"><%= link_to lead.actual_name, controller: 'lead', action: 'summary', lead_id: lead.id %></p>
          <%rescue%>
          <%= meeting.description[0..5] %><% '...' if meeting.description.length > 5%>
          <%end%>
        <%end%>
      </div>
    <% end %>
  <% end %>
</div>
