<div class="monthly-calendar" id="calendar-staff-<%= staff_id%>" >
  <%= week_calendar events: events do |date, meetings| %>
    <%= link_to date.strftime('%e %b'), fetch_calendar_date_path(calendar_date_selected: date, calendar_staff_selected: staff_id), :remote => true %>
    <% meetings.each do |meeting| %>
      <div>
        <%begin%>
          <p style="color: green;"><%= Customer.find(meeting.customer_id).actual_name %></p>
        <%rescue%>
          <%begin%>
          <p style="color: blue;"><%= CustomerLead.find(meeting.customer_lead_id).actual_name%></p>
          <%rescue%>
          <%= meeting.description[0..5] %><% '...' if meeting.description.length > 5%>
          <%end%>
        <%end%>
      </div>
    <% end %>
  <% end %>
</div>
