<div class="weekly-calendar calendar-table" id="calendar-staff-<%= staff_id%>" staff="<%= staff_id%>" start-date="<%= @start_date.to_s%>">
  <% date = Date.parse @start_date %>
  <table class="table table-striped">
      <thead>
        <tr>
            <th></th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
      </thead>

      <tbody>
        <td></td>
        <% (date.beginning_of_week .. date.end_of_week).each do |day|%>
          <td class="day wday-<%= (day - date.beginning_of_week + 1).to_i%> <%= (day == date) ? 'today' : (day > date) ? 'future' : 'past'%> <%= (day.month == date.month) ? 'current' : (day > date) ? 'future' : 'past' %>-month">
            <%= link_to day.strftime('%e %b'), fetch_calendar_date_path(calendar_date_selected: day, calendar_staff_selected: staff_id), :remote => true %>
          </td>
        <% end %>

        <% for hour in 8..20 do %>
          <tr>
            <td><%= hour %></td>
            <% (date.beginning_of_week .. date.end_of_week).each do |day|%>
              <td class="weekly-calendar-hour">
                <% events.select { |x| x.start_date.strftime('%Y-%m-%d %H') == (day.to_datetime + hour.hours).strftime('%Y-%m-%d %H')}.each do |meeting|%>
                <div>
                  <%begin%>
                    <% customer = Customer.find(meeting.customer_id) %>
                    <p style="color: green;"><%= link_to customer.actual_name, controller: 'activity', action: 'activity_edit', note_id: meeting.id %></p>
                  <%rescue%>
                    <%begin%>
                    <% lead = CustomerLead.find(meeting.customer_lead_id) %>
                    <p style="color: blue;"><%= link_to lead.actual_name, controller: 'activity', action: 'activity_edit', note_id: meeting.id %></p>
                    <%rescue%>
                    <%= link_to meeting.description.to_s[0..5], controller: 'activity', action: 'activity_edit', note_id: meeting.id %><% '...' if meeting.description.to_s.length > 5%>
                    <%end%>
                  <%end%>
                </div>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
