<!-- edited by vchar on 20180805 -->

<%= title "Contacts" %>

<div class="col-12">
    <div class="card">
        <div class="card-header text-center h3 text-secondary">
            Contacts
            <p class="h5 mt-2">
                <%= link_to "Create a new contact", {action: 'create_contact'},
                    class: "btn btn-outline-primary text-info" %>
                <%= link_to "Incomplete contacts", {action: 'incomplete_contacts'},
                    class: "btn btn-outline-primary text-info" %>
            </p>
        </div>

        <div class="card-body">
            <!-- BEGIN: form filter -->
            <%= form_tag({:controller => "contact", :action => 'all_contacts'}, {:method => "get"}) do %>
                <div class="row">
                    <%= render "partials/contact_filter" %>
                    <div class="col-1 p-1">
                        <%= submit_tag "filter", class: 'btn btn-primary' %>
                    </div>
                </div>
            <% end %>
            <!-- END: form filter -->
        </div>
    </div>
</div>  

<!-- BEGIN: pagination -->
<%= render 'partials/form_paginate', objects: @contacts %>
<!-- END: pagination -->

<!-- BEGIN: contacts list -->
<%= render "contact_partials/contact_list", contacts: @contacts %>
<!-- END: contacts list -->