<!-- edited by vchar on 20180815 -->

<%= title "Add Contact"%>

<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center h3 text-secondary">
                Add Contact
            </div>
            <div class="card-body">
                <% @contact = Contact.new if @contact.nil? %>
                <%= form_for @contact, url: {action: "create_contact"}, method: "POST" do |f| %>
                    <div class="row">
                        <div class="col">
                            <%= hidden_field_tag :customer_id, @customer_id%>

                            <%= render 'contact_partials/contact_customer_form', f: f %>

                        </div>
                    </div>
                    <%= f.submit "Create!", class: 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
    </div>
</div>





<div class="col-md-4 col-md-offset-6">
  <p style="padding-left: 50px;"><%= link_to "Go Back to Contacts", action: 'all_contacts'%></p>
</div>

<script type="text/javascript">
$('.submit_button').hide();

$('input').blur(function(){
  if ($('input[id=contact_name]').val() != '' && $('input[name=customer_id]').val() != '' && $('select[id=role_role]').find(':selected').val() != ''){
    $('.submit_button').show();
  }else{
    $('.submit_button').hide();
  }
});

$('select').change(function(){
  if ($('input[id=contact_name]').val() != '' && $('input[name=customer_id]').val() != '' && $('select[id=role_role]').find(':selected').val() != ''){
    $('.submit_button').show();
  }else{
    $('.submit_button').hide();
  }
});
</script>
