<!-- edited by vchar on 20180815 -->

<%= title 'Edit ' + @contact.name%>

<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center h3 text-secondary">
                Editing: <%= @contact.name%>
            </div>
            <div class="card-body">
                <%= form_for @contact, url: {action: "edit_contact"}, method: "POST" do |f| %>
                    <%= hidden_field_tag :contact_id , @contact.id %>
                    <%= render 'contact_partials/contact_creation_form', f: f %>
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text form-control-sm" id="basic-addon1">Search</span>
                        </div>
                        <%= autocomplete_field_tag 'name', '', autocomplete_customer_actual_name_contact_index_path, 
                            placeholder: 'Search Customer', id: 'customer_search', size: 10, class: "form-control form-control-sm" %>
                    </div>
                    
                    <div class="row customer_list">
                        <% @contact.cust_contacts.each do |contact_role| %>
                            <%= render 'contact_partials/contact_customer_edit', contact_role: contact_role%>
                            <% @customer_count += 1 %>
                        <% end %>
                    </div>

                    <%= f.submit "Update", class: 'btn btn-primary' %>
                    <%= link_to "Contacts List", { action: 'all_contacts' }, class: 'btn btn-outline-primary' %>
                <% end %>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('#customer_search').bind('railsAutocomplete.select', function(event, data){
        if ($(".append_role_" + data.item.id).length == 0){
            <% contact_role = CustContact.new %>
            <% contact_role.contact_id = @contact.id %>
            $(".customer_list").append("<%= j render 'contact_partials/contact_customer_edit', contact_role: contact_role %>");
            $(".customer_list").find('.append_customer').last().addClass('append_role_' + data.item.id);
            $(".append_role_" + data.item.id ).find('input[name*=customer_id]').val(data.item.id);
            $(".append_role_" + data.item.id ).find('input[name*=customer_name]').val(data.item.value);
            <% @customer_count += 1%>
        }
    });
</script>
