<!-- edited by vchar on 20180815 -->

<%= title @contact.name %>

<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center h3 text-secondary">
                <%= @contact.name%> <br/>
                <%= link_to '<i class="fas fa-user-edit"></i>'.html_safe, 
                    { controller: 'contact', action: 'edit_contact', 
                    contact_id: @contact.id }, title: 'Edit contact' %>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                Personal Number
                            </div>
                            <div class="col-9">                        
                                <a href="tel:<%= @contact.personal_number %>"><%= num_to_phone(@contact.personal_number) %></a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                Preferred Contact Number
                            </div>
                            <div class="col-9">
                                <%= num_to_phone(@contact.preferred_contact_number)%>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                Time Unavailable
                            </div>
                            <div class="col-9">
                                <%= @contact.time_unavailable%>
                            </div>
                        </div>
                    </li>
                    <% @contact.cust_contacts.each do |role|%>
                        <% customer = role.customer %>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3" style="text-indent: 23px">
                                    Customer
                                </div>
                                <div class="col-9">
                                    <%= link_to customer.actual_name, controller: 'customer', action: 'summary', 
                                        customer_id: customer.id, customer_name: customer.actual_name %>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3" style="text-indent: 23px">
                                    Salesperson
                                </div>
                                <div class="col-9">
                                    <%= customer.staff.nickname %>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3" style="text-indent: 23px">
                                    Title
                                </div>
                                <div class="col-9">
                                    <%= role.title%>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3" style="text-indent: 23px">
                                    Position
                                </div>
                                <div class="col-9">
                                    <%= role.position %>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3" style="text-indent: 23px">
                                    Phone
                                </div>
                                <div class="col-9">
                                    <a href="tel:<%=role.phone%>"><%= num_to_phone(role.phone) %></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3" style="text-indent: 23px">
                                    Email
                                </div>
                                <div class="col-9">
                                    <a href="tel:<%=role.phone%>"><%= mail_to(role.email) unless role.email.blank? %></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3" style="text-indent: 45px">
                                    Subscription
                                </div>
                                <div class="col-9 pl-4">
                                    <ul>
                                        <% ['Receive Invoice', "Receive Statement", "Receive Portfolio", 
                                            "Key Accountant", "Key Sales"].each do |tag| %>
                                            <%= "<li>#{tag}</li>".html_safe if role[tag.downcase.split().join('_')].to_i > 0%>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
        <%= link_to "Contacts List", { action: 'all_contacts' }, class: 'btn btn-outline-primary' %>
    </div>
</div>