<!-- edited by vchar on 20180805 -->

<ul class="<%= producer %> product-<%= product_no_ws.id %>">
    <p class="product-<%= product_no_ws.id%> h5">
        <%= product_no_ws.name %>
        <i class="far fa-trash-alt removeProduct" 
            title="Expired" product-id="<%= product_no_ws.id %>"></i>
    </p>

    <li vlass="value_one form-inline">
        <div class="row">
            <div class="col pt-2 text-center">
                <b> Location</b>
            </div>
            <div class="col">
                <%= text_field_tag "products[#{product_no_ws.id}][column]", 
                    product_no_ws.column.to_s, 
                    {size: 6, placeholder: 'Column', class: "form-control"}%>
            </div>
            <div class="col">
                <%= number_field_tag "products[#{product_no_ws.id}][row]", 
                    product_no_ws.row, {min: 0, max: 9999, inputmod: "numeric", 
                    pattern:"[0-9]*", placeholder: 'Row', class: "form-control"} %>
            </div>
            <div class="col">
                <%= text_field_tag "products[#{product_no_ws.id}][area]", 
                    product_no_ws.area.to_s,
                    {size: 6, placeholder: 'Area', class: "form-control"}%>
            </div>
        </div>
    </li>
</ul>

<script type="text/javascript">
    $('.removeProduct').click(function(){
        var product_id = $(this).attr('product-id');
        $('ul.product-'+product_id).remove();
    });
</script>
