$('.subject_selection').empty();
$('.subject_selection').append( $('<option value="">Select the Subject</option>'));
<% @subjects.each do |subject| %>
  $('.subject_selection').append($('<option value="<%= subject.id %>"><%=subject.subject%></option>'));
<% end %>

$('.subject_selection_task').empty();
$('.subject_selection_task').append( $('<option value="">Select the Subject</option>'));
<% @subjects_task.each do |subject| %>
  $('.subject_selection_task').append($('<option value="<%= subject.id %>"><%=subject.subject%></option>'));
<% end %>

$('.customer_selection').empty();
$('.customer_selection').append( $('<option value="">Assign to Customer</option>'));
$('.customer_selection').append( $('<option value="">Do not assign to customers</option>'));
<% @customers.each do |customer| %>
  $('.customer_selection').append($('<option value="<%= customer.id %>"><%=customer.actual_name%></option>'));
<% end %>

$('.customer_selection_task').empty();
$('.customer_selection_task').append( $('<option value="">Assign to Customer</option>'));
$('.customer_selection_task').append( $('<option value="">Do not assign to customers</option>'));
<% @customers_task.each do |customer| %>
  $('.customer_selection_task').append($('<option value="<%= customer.id %>"><%=customer.actual_name%></option>'));
<% end %>
