<%= title "#{session[:username]}'s Tasks" %>

<div class="container">
	<div class="row">
		<div class="col-md-12 col-md-offset-10">
			<button class="btn btn-primary"><%= link_to "Add Note", controller: "activity", action: "add_note"%></button>
			<button class="btn btn-primary"><%= link_to "Add Task", controller: "activity", action: "add_activity"%></button>
		</div>
	</div>
	<%= form_tag({:controller => "task", :action => "staff_task"}, {:method => "get"}) do %>
		<%= render 'task_partials/staff_table_filter' %>
	<div class="row" id="task_row">
		<%= render "task_partials/task_table" unless @tasks.blank?%>
	</div>

	<% end %>
</div>
