
  <div id="products">
    <%
        products = order.order_products.select{ |x| x.display == 1}
        discount_amount = products.map {|x| x.price_discounted - x.price_luc }.sum
      %>
    <table class="InvoiceTable">
      <tr>
        <th class="ProductQuantity">Qty</th>
        <th class="ProductDetails">Product Name</th>
        <th class="ProductCost" id="price" align="right">Price (LUC)</th>
        <% unless discount_amount == 0%>
        <th class="ProductCost" id="discount" align="right">Discount</th>
        <th class="ProductCost" id="discounted_price" align="right">Discounted Price</th>
        <% end %>
        <th class="ProductTotal" align="right" id="amt" style="width:15px;">Total</th>
        <th></th>
      </tr>
      <% products.each do |item| %>
      <tr>
        <td class="ProductQuantity"><%= item.qty.to_i%></td>
        <td class="ProductDetails"><%= item.product.name %></td>
        <td class="ProductCost" id="price" align="right">$<%= '%.2f' % item.price_luc %></td>
        <% unless discount_amount == 0%>
        <td class="ProductCost" align="right"><%= '%.0f' % item.discount %>%</td>
        <td class="ProductCost" align="right">$<%= '%.2f' % item.price_discounted %></td>
        <% end %>
        <td class="ProductTotal" align="right" id="amt" style="width:15px;">$<%= '%.2f' % (item.qty * item.price_discounted) %></td>
        <td></td>
      </tr>
      <% end %>
      <tr style="border-bottom:1px solid black">
        <td colspan="100%"></td>
      </tr>
      <tr>
        <% if discount_amount == 0%>
        <td rowspan="7"></td>
      <% else %>
        <td colspan="3" rowspan="7"></td>
        <% end %>
        <td colspan="2" class="ProductCost" align="right">Subtotal(inc. WET ex. GST)</td>
        <td class="ProductTotal" align="right">$<%= '%.2f' % (order.subtotal) %></td>
        <td></td>
      </tr>
      <% unless order.discount_amount.to_f == 0%>
      <tr>
        <td colspan="2" class="ProductCost" align="right">Discount Rate</td>
        <td class="ProductTotal" align="right"><%= '%.0f' % (order.discount_rate) %>%</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="ProductCost" align="right">Discount Amount(ex. GST)</td>
        <td class="ProductTotal" align="right">$<%= '%.2f' % (order.discount_amount) %></td>
        <td></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="2" class="ProductCost" align="right">Shipping(ex. GST)</td>
        <td class="ProductTotal" align="right">$<%= '%.2f' % (order.shipping_cost) %></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="ProductCost" align="right">WET</td>
        <td class="ProductTotal" align="right">$<%= '%.2f' % (order.wet) %></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="ProductCost" align="right">GST</td>
        <td class="ProductTotal" align="right">$<%= '%.2f' % (order.gst) %></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="ProductCost" align="right">
          <h3>Grand Total:</h3>
        </td>
        <td class="ProductTotal" align="right">
          <h3>$<%= '%.2f' % order.total_inc_tax %></h3>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
