<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<%= wicked_pdf_stylesheet_link_tag('bootstrap') %>
<link rel="stylesheet" href="https://www.untappedwines.com.au/template/Styles/printinvoice.css" type="text/css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<h3>Packing List Summary</h3>
<div class="container">
    <table class = "table table-striped table-bordered table-hover table-responsive">
      <tr>
    		<th>Product Name</th>
        <th>Country</th>
    		<th>Quantity</th>
    		<th>Dozen</th>
    		<th>Remainder</th>
    	</tr>
      <tr>
        <% products = Product.where('id IN (?)', order_products.map(&:product_id)).order('producer_country_id ASC, name ASC') %>
        <% products.each do |product|%>
          <% orders = order_products.select{|x| x.product_id == product.id }%>
        <tr>
          <td><%= product.name %></td>
          <% country = product.producer_country.nil? ? '' : product.producer_country.name %>
          <td><%= country %></td>
          <td><%= orders.sum(&:qty) %></td>
          <td><%= orders.map{ |x| x.qty/12 }.sum %></td>
          <td><%= orders.map{ |x| x.qty%12 }.sum %></td>
        </tr>
        <% end %>
      </tr>
    </table>
</div>
