<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<%= wicked_pdf_stylesheet_link_tag('bootstrap') %>
<link rel="stylesheet" href="https://www.untappedwines.com.au/template/Styles/printinvoice.css" type="text/css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<h3>Packing List Summary</h3>

<% products = Product.where('id IN (?)', order_products.map(&:product_id)).order('producer_country_id ASC, name ASC') %>
<% product_array = [] %>
<% products.each do |product| %>
  <% orders = order_products.select{|x| x.product_id == product.id} %>
  <% product_hash = {product_name: product.name, product_country: product.producer_country.nil? ? '' : product.producer_country.name,
      product_qty: orders.map{|x| x.qty }.sum, product_dozen: orders.map{ |x| x.qty/12 }.sum, product_remainder: orders.map{ |x| x.qty%12 }.sum,
      row: product.product_no_ws.row, column: product.product_no_ws.column }%>
  <% product_array.append(product_hash) %>
<% end %>
<% product_array_above = product_array.select{|x| x[:product_qty].to_i>3}.sort_by { |k| k[:column].to_s } %>
<% product_array_reminder = product_array.select{|x| x[:product_qty].to_i<=3}.sort_by { |k| k[:column].to_s }%>


<div class="container">
    <table class = "table table-striped table-bordered table-hover table-responsive">
      <tr>
    		<th>Product Name</th>
        <th>Country</th>
        <th>Position</th>
    		<th>Quantity</th>
    		<th>Dozen</th>
    		<th>Remainder</th>
    	</tr>
      <tr>
        <% product_array_above.each do |product|%>
        <tr>
          <td><%= product[:product_name] %></td>
          <td><%= product[:product_country] %></td>
          <td><%= product[:column].to_s + ' ' + product[:row].to_s%></td>
          <td><%= product[:product_qty] %></td>
          <td><%= product[:product_dozen] %></td>
          <td><%= product[:product_remainder] %></td>
        </tr>
        <% end %>
      </tr>
    </table>
</div>
<p style='page-break-after:always;'></p>
<table class = "table table-striped table-bordered table-hover table-responsive">
  <tr>
    <th>Product Name</th>
    <th>Country</th>
    <th>Position</th>
    <th>Quantity</th>
    <th>Dozen</th>
    <th>Remainder</th>
  </tr>
  <tr>
    <% product_array_reminder.each do |product|%>
    <tr>
      <td><%= product[:product_name] %></td>
      <td><%= product[:product_country] %></td>
      <td><%= product[:column].to_s + ' ' + product[:row].to_s%></td>
      <td><%= product[:product_qty] %></td>
      <td><%= product[:product_dozen] %></td>
      <td><%= product[:product_remainder] %></td>
    </tr>
    <% end %>
  </tr>
</table>
