<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<%= wicked_pdf_stylesheet_link_tag('bootstrap') %>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="https://www.untappedwines.com.au/template/Styles/printinvoice.css" type="text/css">


<% consignment = item.consignment %>
<% items = consignment.items %>

<div class="container">
  <div class="row">
    <div id="Logo" class="col-xs-6">
      <%= wicked_pdf_image_tag "email_signature.png", class: 'profile-img' %>
    </div>
    <div class="col-xs-6">
      <%= wicked_pdf_image_tag "Fastway_logo.png", style: "float: right;margin-top:-20px;margin-right:5px;" %>
    </div>
  </div>
  <div class="row">
    <h3>Proof of Delivery</h3>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3><%= order.customer.actual_name %></h3><br/>
      <%= label(:invoice, 'Invoice: ')%> <%= item.Reference %><br/>
      <%= label(:package, 'Package(s) Sent: ')%> <%= items.sum('Packaging') %><br/>
      <%= label(:bottles, 'Bottles in Order: ')%> <%= order.qty %><br/>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-4" style=" align: right;">
          <%= label(:labels, 'Label(s) Sent: ')%>
        </div>
        <% items.each do |package|%>
          <div class="col-xs-4" style="font-size: 10px; align: right;">
            <%= package.LabelNumber %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-6" style="font-size: 10px;">
      <%= label(:invoice, 'Invoice: ')%> <%= item.Reference %><br/>
      <%= label(:label, 'Fast Label Sent To: ')%> <%= consignment.Address1 + " " + consignment.Address2 + " " + consignment.City %><br/>
      <%= label(:printtimestamp, 'Label Printed: ')%> <%= Time.now().to_s%><br/>
    </div>
    <div class="col-xs-5 col-xs-offset-1" style="font-size: 10px;">
      <p align="right">Label was distributed to: <%= label(:melbourne, 'Melbounre')%></p>
      <table>
        <tr align="right" style="font-size: 10px;">
          <td><%= label(:to, 'To:')%></td>
          <td rowspan="7">&nbsp;&nbsp;&nbsp;</td>
          <td><%= consignment.CompanyName%></td>
        </tr>
        <tr align="right" style="font-size: 10px;">
          <td><%= label(:Address1, 'Address1:')%></td>
          <td><%= consignment.Address1%></td>
        </tr>
        <% unless consignment.Address2 == ''%>
          <tr align="right" style="font-size: 10px;">
            <td><%= label(:Address2, 'Address2:')%></td>
            <td><%= consignment.Address2%></td>
          </tr>
        <% end %>
        <tr align="right" style="font-size: 10px;">
          <td><%= label(:city, 'Town:')%></td>
          <td><%= consignment.City%></td>
        </tr>
        <tr align="right" style="font-size: 10px;">
          <td><%= label(:postcode, 'Postcode:')%></td>
          <td><%= consignment.PostCode%></td>
        </tr>
        <% unless consignment.SpecialInstruction1 == ''%>
          <tr align="right" style="font-size: 10px;">
            <td rowspan="3"><%= label(:s1, 'SpecialInstruction:')%></td>
            <td><%= consignment.SpecialInstruction1%></td>
          </tr>
        <% end %>
        <% unless consignment.SpecialInstruction2 == ''%>
          <tr align="right" style="font-size: 10px;">
            <td><%= consignment.SpecialInstruction2%></td>
          </tr>
        <% end %>
        <% unless consignment.SpecialInstruction3 == ''%>
          <tr align="right" style="font-size: 10px;">
            <td><%= consignment.SpecialInstruction3%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <br/>
  <div class="row">
    <p style="font-size: 12px;">For any queries please contact Untapped Fine Wines: 0396769663 or customerservice@untappedwines.com</p>
  </div>
  <br/>
  <div class="row">
    <table class="table table-striped table-bordered table-hover table-responsive">
      <thead style="font-size: 10px;">
        <th>Date</th>
        <th>Franchise</th>
        <th>Status</th>
        <th>Comment</th>
      </thead>
      <%item.traces.order('UploadDate ASC').each do |scan|%>
        <tr style="font-size: 10px;">
          <td><%= scan.Date%></td>
          <td><%= scan.Franchise%></td>
          <td><%= scan.StatusDescription%></td>
          <td><%= scan.comment%></td>
        </tr>
      <% end %>
    </table>
  </div>
  <% signature = item.traces.select{ |x| x.StatusDescription == 'Signature Obtained'}.first%>
  <% unless signature.nil?%>
    <div class="row">
      <table class="table table-striped table-bordered table-hover table-responsive">
        <thead style="font-size: 10px;">
          <th>Signature</th>
          <th>Company</th>
          <th>Receiver</th>
          <th>Address</th>
          <th>Comment</th>
        </thead>
        <tbody>
          <tr style="font-size: 10px;">
            <td><%= image_tag "#{signature.Signature}"%></td>
            <td><%= signature.company%></td>
            <td><%= signature.contactName%></td>
            <td><%= signature.address1.to_s + "\n" + signature.address2 + "\n" + signature.address3%>
              <br/>
                <%= signature.address4.to_s + "\n" + signature.address5.to_s + "\n" + signature.address6.to_s%>
            </td>
            <td><%= signature.comment%></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
