<h3><center>Customers</center></h3>
<div class="form-group" style="margin-left:300px;">
<%= form_tag({:action => "customers"}, {:method => "get"}) do %>
	<div class="col-xs-4">
   <%= text_field_tag('search', @search_text, placeholder: 'Enter Search Term', class: 'form-control') %>
   </div> 
   <div class="col-xs-3">
   <%= collection_select(:staff, :id, @staffs, :id, :nickname, {:include_blank => 'All Staff'}, {:class => 'form-control'}) %>
   </div>
   <%= submit_tag "Filter", class: 'btn btn-primary' %>
<% end %>
</div>

<table class = "table table-striped table-bordered table-hover table-responsive">
	<tr>
		<th>Sales Rep</th>
		<th>Name</th>
	</tr>

	<% @customers.each do |c| %>

		<tr>

			<td><%= c.staff.nickname %></td>
			<td><%= link_to get_customer_name(c), controller: "sales", action: "view_orders_for_customer", customer_id: c.id %></td>
		</tr>

	<% end %>
</table>
