<h3><center><%= @page_header %></center></h3><br/>
<div class="form-group container-fluid">
<%= form_tag({:action => "orders"}, {:method => "get"}) do %>
	<div class="col-xs-3 col-xs-offset-2">
   <%= text_field_tag('search', @search_text, placeholder: 'Search for Customer Name', class: 'form-control') %>
   </div>
   <div class="col-xs-2">
       <%= collection_select(:staff, :id, @staffs, :id, :nickname, {:include_blank => 'All Sales Reps'}, {:class => 'form-control'}) %>
   </div>   
   <div class="col-xs-2">
       <%= collection_select(:status, :id, @statuses, :id, :name, {:include_blank => 'All Statuses'}, {:class => 'form-control'}) %>
   </div>
   <%= hidden_field_tag :start_date, @start_date %>
   <%= hidden_field_tag :end_date, @end_date %>
   <%= submit_tag "Filter", class: 'btn btn-primary' %>
   <button class = "btn btn-primary"><%= link_to "Reset", action: "orders" %></button>
<% end %>
</div><br/>

<%= render "partials/order", orders: @orders %>