<%= title "Products Dashboard" %>
<h3>Products Dashboard</h3>
<br/>
<div class="form-group container-fluid">
	<%= form_tag({:action => "products_dashboard"}, {:method => "get"}) do %>
	<%= render "partials/extended_product_filter" %>

	<div class="row" style="margin-left: 500px;margin-top: 20px;">
		<%= render "partials/staff_filter" %>
		<%= render "partials/cust_style_filter" %>

		<div class="col-md-2">
			<%= submit_tag "Filter", class: 'btn btn-primary' %>
		</div>
		<div class="col-md-2" style="margin-left:-60px;">
			<button class = "btn btn-primary"><%= link_to "Reset", action: "products_dashboard" %></button>
		</div>
	</div>
		
<% end %>
</div>

<%= render "partials/product", products: @products, pending_stock_h: @pending_stock_h, display_class: "none" %>