<br/><br/>
<center>
<h4 class="success"><%= flash[:success] %></h4>
<h4 class="error"><%= flash[:error] %></h4>
</center>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <center><%= image_tag "logo.jpg", class: 'profile-img' %></center>
                <%= form_tag({:action => 'attempt_login'}, {:class => 'form-signin'}) do %>

					<%= text_field_tag :username, nil, class: 'form-control', placeholder: 'Username' %><br/>
					<%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password'  %>
					<%= submit_tag "Log In", class: 'button login' %>

                <% end %>
            </div>
        </div>
    </div>
</div>
