<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'logo.ico' %>
  <title><%= content_for?(:title) ? content_for(:title) : "Untapped" %></title>
  <%= stylesheet_link_tag    'vendor',      media: 'all', debug: false %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'vendor', debug: false %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid" align="center">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="" data-toggle="dropdown" href="#">Sales Summaries
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Weekly", controller: "sales", action: "sales_dashboard" %></li>
              <li><%= link_to "Detailed", controller: "sales", action: "sales_dashboard_detailed" %></li>
              <% if Staff.find(session[:user_id]).user_type.in?(["Sales Executive"]) %>
              <li><%= link_to "Weekly All Staff", controller: "sales", action: "sales_dashboard", display_all: "Yes" %></li>
              <% end %>
              <li><%= link_to "New Customers", controller: "customer", action: "new_customers" %></li>
              <li><%= link_to "Map", controller: "calendar", action: "map" %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="" data-toggle="dropdown" href="#">Orders
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Orders", controller: "order", action: "all" %></li>
              <li><%= link_to "New Order", controller: "order", action: "create_order" %></li>
              <li><%= link_to "Pending Orders", controller: "status", action: "pending", status_id: 1, status_name: "Pending" %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="" data-toggle="dropdown" href="#">Customers
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Customers", controller: "customer", action: "all" %></li>
              <li><%= link_to "Leads", controller: "lead", action: "all_leads" %></li>
              <li><%= link_to "Contacts", controller: "contact", action: "all_contacts" %></li>
              <li><%= link_to "Zomato Customers", controller: "customer", action: "zomato" %></li>
              <li><%= link_to "Customer Map", controller: "customer", action: "near_by" %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="" data-toggle="dropdown" href="#">Products
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "All", controller: "product", action: "all" %></li>
              <li><%= link_to "Detailed Dashboard", controller: "sales", action: "product_dashboard" %></li>
              <% if user_full_right(session[:authority])%>
              <li><%= link_to "Warehouse", controller: "product", action: "warehouse" %></li>
              <li><%= link_to "Review", controller: "product", action: "review" %></li>
              <% end %>
              <li><%= link_to 'Location Update', controller: 'product', action: 'location'%></li>
            </ul>
          </li>

          <% if user_full_right(session[:authority]) %>
          <li class="dropdown">
            <a class="" data-toggle="dropdown" href="#">Accounting
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Accounts Receivable", controller: "accounts", action: "contacts" %></li>
              <li><%= link_to "Different Orders", controller: "accounts", action: "different_orders" %></li>
              <li><%= link_to "Order Status", controller: "accounts", action: "account_status" %></li>
            </ul>
          </li>
          <li><%= link_to "Admin", controller: "admin", action: "index" %></li>
          <% end%>

          <li class="dropdown">
            <a class="" data-toggle="dropdown" href="#">Event
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Note", controller: "task", action: "staff_task" %></li>
              <li><%= link_to "Add Note", controller: 'activity', action: 'add_note'%></li>
              <li><%= link_to "Add Task", controller: 'activity', action: 'add_activity'%></li>
              <li><%= link_to "Calendar", controller: "calendar", action: "local_calendar" %></li>
              <li><%= link_to "Events Check", controller: "calendar", action: "event_check_offline" %></li>
                <!-- if user_full_right(session[:authority])
                if Rails.env.development?
                <li> link_to "Sync", controller: "calendar", action: "event_censor" </li>
                 else
                <li>< link_to "Sync", "http://cms.untappedwines.com.au/redirect"</li>
                 end
                 end  -->
               </ul>
             </li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="" data-toggle="dropdown" href="#"><%= "Hi," + "  " + session[:username] %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'My Group', controller: 'admin', action: 'group_list'%></li>
                <li><%= link_to "Password Update", controller: "admin", action: "admin" %></li>
                <li><%= link_to "My Note", controller: "task", action: "staff_task" %></li>
                <% if it_working(session[:user_id])%>
                <li>In case you need it</li>
                <li><%= link_to "My Note", controller: "task", action: "staff_task" %></li>
                <li><%= link_to "Add Note", controller: "task", action: "add_task" %></li>
                <li>Activity down there</li>
                <li><%= link_to "Add Note", controller: 'activity', action: 'add_note'%></li>
                <li><%= link_to "Add Task", controller: 'activity', action: 'add_activity'%></li>
                <li>Generate Order</li>
                <li><%= link_to "Orders Mobile", controller: 'order', action: 'create_order_testing'%></li>
                <% end %>
              </ul>
            </li>
            <li><%= link_to session[:authority]%></li>
            <li><%= link_to "Logout", controller: "access", action: "logout" %></li>
          </ul>
        </div>
      </div>
    </nav>
    <% flash.each do |key, value| %>
    <center><%= content_tag :div, value, class: "flash #{key}" %></center>
    <% end %>
    <%= yield %>

  </body>
  </html>
