<!DOCTYPE html>
<html>
    <head>
        <title><%= content_for?(:title) ? content_for(:title) : "Untapped" %></title>
        <%= stylesheet_link_tag    'vendor',      media: 'all', debug: false %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'vendor', debug: false %>
        <%= javascript_include_tag 'application' %>
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid" align="center">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="" data-toggle="dropdown" href="#">Sales Summaries
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Weekly", controller: "sales", action: "sales_dashboard" %></li>
                                <li><%= link_to "Detailed", controller: "sales", action: "sales_dashboard_detailed" %></li>
                                <% if Staff.find(session[:user_id]).user_type.in?(["Sales Executive"]) %>
                                <li><%= link_to "Weekly All Staff", controller: "sales", action: "sales_dashboard", display_all: "Yes" %></li>
                                <% end %>
                                <li><%= link_to "New Customers", controller: "customer", action: "new_customers" %></li>
                                <li><%= link_to "Map", controller: "calendar", action: "map" %></li>
                            </ul>
                        </li>

                        <li><%= link_to "Orders", controller: "order", action: "all" %></li>
                        <li><%= link_to "Customers", controller: "customer", action: "all" %></li>

                        <li class="dropdown">
                            <a class="" data-toggle="dropdown" href="#">Products
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "All", controller: "product", action: "all" %></li>
                                <li><%= link_to "Detailed Dashboard", controller: "sales", action: "product_dashboard" %></li>
                            </ul>
                        </li>

                        <li><%= link_to "Pending Orders", controller: "status", action: "pending", status_id: 1, status_name: "Pending" %></li>
                        <% if user_full_right(session[:authority]) %>
                        <li class="dropdown">
                            <a class="" data-toggle="dropdown" href="#">Accounting
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Accounts Receivable", controller: "accounts", action: "contacts" %></li>
                                <li><%= link_to "Different Orders", controller: "accounts", action: "different_orders" %></li>
                            </ul>
                        </li>
                        <li><%= link_to "Admin", controller: "admin", action: "index" %></li>
                        <%else%>
                        <li><%= link_to "Password Update", controller: "admin", action: "admin" %></li>
                        <% end%>

                        <li class="dropdown">
                            <a class="" data-toggle="dropdown" href="#">Event
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "My Note", controller: "task", action: "staff_task" %></li>
                                <li><%= link_to "Add Note", controller: "task", action: "add_task" %></li>
                                <% if user_full_right(session[:authority]) %>
                                <li><%= link_to "Calendar", controller: "calendar", action: "local_calendar" %></li>
                                <% end %>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "Hi," + "  " + session[:username] %></li>
                        <li><%= link_to session[:authority]%></li>
                        <li><%= link_to "Logout", controller: "access", action: "logout" %></li>
                    </ul>
                </div>
            </div>
        </nav>
        <% flash.each do |key, value| %>
        <center><%= content_tag :div, value, class: "flash #{key}" %></center>
        <% end %>
        <%= yield %>

    </body>
</html>
