<!DOCTYPE html>
<html>
<head>
  <title>Untapped</title>
  <%= stylesheet_link_tag    'vendor',      media: 'all', debug: false %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'vendor', debug: false %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<%= yield %>

</body>
</html>
