<% @products.each do |product| %>
  last_products.append([
          '<tr class="last-order-product" product-id="<%= product.id%>" name="<%= product.name%>" inventory="<%= product.inventory%>" price="<%= product.calculated_price * 1.29%>">',
              '<td><%= product.name%></td>',
          '</tr>'
          ].join(''));
<% end %>
dilivery_instruction.val('<%= @last_order.delivery_instruction %>');
shipping_address.val('<%= @last_order.address%>');
billing_address.val('<%= @last_order.billing_address %>');
