<% @ops.each do |op| %>
  <% product = op.product%>
  last_products.append([
          '<tr class="last-order-product" product-id="<%= product.id%>" name="<%= product.name%>" inventory="<%= product.inventory%>" price="<%= product.calculated_price * 1.29%>">',
              '<td><%= product.name%> | <%= op.price_discounted %></td>',
          '</tr>'
          ].join(''));
<% end %>
street.val('<%= @last_order.street%>');
city.val('<%= @last_order.city%>');
state.val('<%= @last_order.state%>');
postcode.val('<%= @last_order.postcode %>');
country.val('<%= @last_order.country%>');


<% customer = @last_order.customer %>
billing_street.val('<%= customer.street%>');
billing_city.val('<%= customer.city%>');
billing_state.val('<%= customer.state%>');
billing_postcode.val('<%= customer.postcode%>');
billing_country.val('<%= customer.country%>');
