<%= title 'Order Shipping' %>
<h3>Order Shipping</h3>
<table class="table table-striped table-bordered table-hover table-responsive">
  <thead>
    <tr>
			<th>Order Id
				<%= render "partials/sort_arrows", order: 'order_by_id' %></th>
			<th>Date</th>
			<th>Customer
				<%= render "partials/sort_arrows", order: 'order_by_customer' %></th>
			<th>Status
				<%= render "partials/sort_arrows", order: 'order_by_status' %></th>
			<th>Qty
				<%= render "partials/sort_arrows", order: 'order_by_qty' %></th>
      <th>Shipping Status</th>
		</tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td class="order-id"><%= link_to order.id, controller: 'order', action: 'details', order_id: order.id %></td>
      <td><%= date_format_orders(order.date_created) %></td>
      <% cust_name = customer_name(order.customer) %>
      <td><%= link_to cust_name, controller: 'customer', action: 'summary', customer_id: order.customer_id, customer_name: cust_name %></td>
      <td><%= order_status(order.status)%></td>
      <td><%= order.qty %></td>
      <td><%= collection_select("", :courier_status_id, CourierStatus.all, :id, :name, {:include_blank => 'All Statuses', :selected => order.courier_status_id}, {:class => 'form-control'}) %></td>
      <td class="shipping-selection">new shipping</td>
    </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $('select').change(function(){
    var tr = $(this).parent().parent();
    var button = tr.find('.shipping-selection');
    var order_id = tr.find('.order-id').val();
    if (this.value == 3){
      button.html('<input type="checkbox" name="fastway_label[]" id="fastway_label_" value="'+ order_id +'" class="fastway_label_checkbox" style="display: inline-block;"> Create New Label');
    }else if (this.value == 4) {
      button.html('<input type="text" name="fastway_label_number[]" id="fastway_label_number_" placeholder="Fastway Label Number, separate by ; " class="form-control">');
    }else if (this.value == 2){
      button.html('<input type="text" name="other_label_number[]" id="other_label_number_" placeholder="Other Courier Label" class="form-control">');
    }else{
      button.html("");
    }
  });
</script>
