<!-- edited by vchar on 20180816 -->

<%= title 'Edit Activity'%>

<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center h3 text-secondary">
                Edit <%= @activity.is_task == 0 ? 'note' : 'task' %>
            </div>
            <div class="card-body">
                <%= form_for @activity, :url => {:controller => "activity", :action => "update"}, :id => "note_edit_form"  do |f| %>
                    <%= hidden_field_tag :activity_id , @activity.id %>
                    <% if @activity.is_task == 0%>
                        <%= render 'activity_partials/edit_note', activity: @activity, f: f%>
                    <% else %>
                        <%= render 'activity_partials/edit_task', activity: @activity, f: f%>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>

