<%= title 'Activity Add Note'%>

<%= form_for @note, :url => {:controller => "activity", :action => "add_note"}, :id => "note_append_form"  do |f| %>

<div class="row">
  <%= render 'activity_partials/customer_search', f: f%>
  <%= render 'activity_partials/note_table', f: f%>
  <%= render 'activity_partials/wine_note', f: f%>
  <%= render 'activity_partials/invoice_table', f: f%>
</div>
<% end %>
