<!-- edited by vchar on 20180821 -->

<%= title 'Activity Add Note' %>

<%= form_for @note, :url => {:controller => "activity", :action => "save_note"}, :id => "note_append_form"  do |f| %>
<%= hidden_field_tag :completed_parent , @completed_parent %>
<%= hidden_field_tag :parent_task, @parent.id unless @parent.nil? %>

<%= render 'activity_partials/customer_search', activity: @parent%>

<%= render 'activity_partials/note_table', f: f, activity: @parent%>

<%= render 'activity_partials/wine_note', activity: @parent %>

<div class="row">
    <div class="col-md-4 col-md-offset-4 complete_form">
        <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
            <div> Save </div>
        <% end %>
        <%= button_tag(type: 'submit', class: 'btn btn-primary', value: 'new_task') do %>
            <div> Save and New Task </div>
        <% end %>
    </div>
    <div class="col-md-4 col-md-offset-4 incomplete_form">
        <p style="color: red" class="activity_reminder">
            Please Select Subject / Customer
        </p>
        <button name="button" class="btn btn-secondary disabled" disabled>
            <div>Save</div>
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div>
            <table class="table table-striped table-bordered table-hover table-responsive w-100 d-block d-table" 
                id="invoice_table">
                <tr class="info">
                    <th>Customer</th>
                    <th>Invoice#</th>
                    <th>Date</th>
                    <th>Value</th>
                    <th>Amount Due</th>
                    <th>Due</th>
                    <th>Days Overdue</th>
                </tr>
            </table>
        </div>
    </div>
</div>

<% end %>

<script>
    var invoice_table = $('#invoice_table');

    <% customer_relations = (@parent.nil?) ? nil : @parent.task_relations.map(&:customer_id).uniq.compact %>
    <% unless (customer_relations.nil?) || (customer_relations.blank?)%>
    <% Customer.filter_by_ids(customer_relations).each do |customer| %>
    <% customer.xero_invoices.has_amount_due.each do |invoice| %>
    $('#invoice_table').append([
        '<tr class="tr_invoice_<%=customer.id%>">',
        '<td><%= customer.actual_name%></td>',
        '<td><%= invoice.invoice_number%></td>',
        '<td><%= invoice.date.to_date.strftime("%d/%-m/%y")%></td>',
        '<td class="num"><%= invoice.sub_total%></td>',
        '<td class="num"><%= invoice.amount_due%></td>',
        '<td><%= invoice.due_date.to_date.strftime("%d/%-m/%y")%></td>',
        '<td><%= Date.today.mjd - invoice.due_date.to_date.mjd%> Days</td>',
        '<td><i class="glyphicon glyphicon-remove remove" title="remove"></i></td>',
        '</tr>'
        ].join(''));
    $('.remove').click(function(){
        $(this).parent().parent().remove();
    });
    <% end %>
    <% end %>
    <% end %>

    var CompleteForm = function(){
        if ((($('input[id*=customer ]').length > 1) || ($('tr[id*=tr_lead ]').length > 0)) && ($('textarea[id=task_description]').val() != "") && ($('#task_subject_1 option:selected').val()!="")){
            $('.complete_form').show();
            $('.incomplete_form').hide();
        }else{
            $('.complete_form').hide();
            $('.incomplete_form').show();
        };
    };
    CompleteForm();

    $(document).on('click', '.activity-customers, .remove_customer', function(){
        CompleteForm();
    });

    $(document).on('change', '#task_subject_1', function(){
        CompleteForm();
    });

    $(document).on('input', '#task_description', function(){
        CompleteForm();
    });
</script>
