<!-- edited by vchar on 20180814 -->

<table class="table table-striped table-bordered table-hover table-responsive w-100 d-block d-table">
	<tr class="info accounts-stats-bar">
		<th style="color: red">Account Stats</th>
		<th>Outstanding</th>
		<th>Overdue</th>
		<th>
			Current
		</th>
    	<% today_date = Date.today%>
		<% for i in 1..4 %>
		  	<th><%= (today_date - i.month).strftime("%B")%></th>
		<% end %>
		<th>
			Older
		</th>
	</tr>
	<tr class="accounts-stats-section">
		<td>Invoice Date</td>
		<td class="num"><%= display_num(outstanding_customer(customer.xero_contact))  %></td>
		<td class="num"><%= display_num(overdue_customer(customer.xero_contact)) %></td>
		<% amount_due["invoice_date"].each do |amount| %>
			<td><%= display_num(amount) %></td>
		<% end %>
	</tr>
	<tr class="accounts-stats-section">
		<td>Due Date</td>
		<td class="num"><%= display_num(outstanding_customer(customer.xero_contact))  %></td>
		<td class="num"><%= display_num(overdue_customer(customer.xero_contact)) %></td>
		<% amount_due["due_date"].each do |amount| %>
			<td><%= display_num(amount) %></td>
		<% end %>
	</tr>
</table>

<script>
	$('.accounts-stats-bar').click(function(){
		$('.accounts-stats-section').toggle();
	});
</script>
