<!-- edited by vchar on 20180805 -->

<div class="row">
	<div class="col p-1">
        <%= text_field_tag('search', @search_text, 
            placeholder: 'Search for Customer Name', class: 'form-control') %>
	</div>
    <div class="col p-1">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Invoice to</span>
            </div>
            <%= date_field( "end_date", "end_date", value: @end_date, 
                class: 'form-control') %>
        </div>
    </div>
    <div class="col-1 p-1">
        <%= submit_tag "Search", class: 'btn btn-primary' %>
    </div>
    <div class="col-1 p-1">
        <%= link_to "Reset", { controller: "accounts", action: "contacts" },
            class: "btn btn-warning" %>
    </div>
    <div class="col-1 p-1" id="send_reminders">
        <%= submit_tag "Send Reminder", class: 'btn btn-primary' %>
    </div>
</div>

<div class="row p-2">
    <%= render "accounts_partials/contact_monthly_filter"%>
</div>
