
<div class="container-center">
  <div class= "row">
    <div class="col-xs-4">
      <h5><%= customer.firstname+"  "+customer.lastname %></h5>
      <p>Ph: <%= num_to_phone(customer.xero_contact.contact_number) unless customer.xero_contact.contact_number.nil? %></p>
      <p>Email: <%= mail_to(customer.xero_contact.email) unless customer.xero_contact.email.nil? %></p>
    </div>
    <% @contact_people.each do |person| %>
      <div class="col-xs-4">
        <h5><%= person.first_name+"  "+person.last_name %></h5>
        <p>Email: <%= mail_to(person.email_address) unless person.email_address.nil? %></p>
      </div>
    <% end %>
    <div class="col-xs-4">
      <h5>Sales Rep.: <%= customer.staff.nickname %></h5>
      <p>Ph: <%= num_to_phone(customer.staff.contact_number) unless customer.staff.contact_number.nil? %></p>
      <p>Email: <%= mail_to(customer.staff.email) unless customer.staff.email.nil? %></p>
    </div>
  </div>
  <% unless @contacts_phone.blank?%>
  <h5>  Contacts:</h5>

  <div class= "row">
    <% @contacts_phone.each do |contact| %>
      <div class="col-xs-4">
        <h5 style="font-size:20px"><%= contact.name+": "%></h5>
        <p style="font-size:20px">Ph: <%= contact.area_code unless contact.area_code.nil? %> <%= num_to_phone(contact.number) unless contact.number.nil? %></p>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
