<div style="float: left;">
	<h4>Note/Task</h4>
</div>
<br/><br/><br/>
<div class="panel-group" id="task_filter">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5>Filter<a data-toggle="collapse" data-parent="#task_filter" href="#filter_table"></a>
			</h5>
		</div>
		<div id="filter_table" class="panel-collapse collapse in">
			<div class="panel-body">
				<table class="table table-hover table-responsive" style="margin-top: -10px;">
					<tr>
						<th>Category</th>
						<th>Type/Subject</th>
						<th>Method</th>
					</tr>
					<tr>
						<td>to be filled</td>
						<td>
							to be filled #2</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<button class="btn btn-primary"><%= link_to "Add Task", controller: "task", action: "add_task", staff: "20"%></button>
	</div>
	<div class="row">
		<%= form_tag({:controller => "accounts", :action => "task_detail"}, {:method => "post"}) do %>
		<%= hidden_field_tag :customer_id, customer.id %>
		<div class="col-md-12">
			<table class="table table-striped table-bordered table-hover table-responsive">
				<tr class="info">
					<th>Title</th>
					<th>Customer/Staff</th>
					<th>End Date</th>
				</tr>
				<% TaskRelation.filter_by_staff_id('20').each do |task_relation|%>
				<tr>
					<% task = Task.find(task_relation.task_id) %>
					<td><%= task.title %></td>
					<td><%= task_relation.customer_id%></td>
					<td><%= task.end_date%></td>
				</tr>
				<% end %>
			</table>
		</div>
		<!-- end of the form -->
		<%end%>
	</div>

</div>
