<div class="col-xs-4"><%= link_to label(:status, 'Approve'), controller: 'status', action: 'status_check', status_name: 'Approve'%></div>
<div class="col-xs-4"><%= link_to label(:status, 'Picking'), controller: 'status', action: 'status_check', status_name: 'Picking'%></div>
<div class="col-xs-4"><%= link_to label(:status, 'Ready'), controller: 'status', action: 'status_check', status_name: 'Ready'%></div>
<div class="col-xs-4"><%= link_to label(:status, 'Courier'), controller: 'status', action: 'status_check', status_name: 'Courier'%></div>
<div class="col-xs-4"><%= link_to label(:status, 'Shipped'), controller: 'status', action: 'status_check', status_name: 'Shipped'%></div>
<div class="col-xs-4"><%= link_to label(:status, 'Delivered'), controller: 'status', action: 'status_check', status_name: 'Delivered'%></div>
<div class="col-xs-4"><%= link_to label(:status, "Problem"), controller: 'status', action: 'status_check', status_name: 'Problem' %><%= '(' + Order.joins(:status).where('statuses.send_reminder = 1').count.to_s + ')'%></div>
<div class="col-xs-4"><%= link_to label(:status, "Print"), controller: 'order', action: 'print_order', staff: (@staff.nil?) ? nil : {'id' => @staff.id}, order_id_search: (@order.nil?) ? nil : @order.id, search: (@search_text.nil?) ? nil : @search_text, status: (@status.nil?) ? nil : {'id' => @status.id}%></div>
