<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=ISO-8859-1' http-equiv='Content-Type' />
  </head>
  <body>
    <%case @template%>
    <%when "overdue"%>
      <%= render "reminder_mailer_partials/overdue_reminder_body", over_due_invoices: @over_due_invoices, xero_contact: @xero_contact, email_content: @email_content%>
    <%when "overdue_60days"%>
      <%= render "reminder_mailer_partials/overdue_60days_reminder_body", over_due_invoices: @over_due_invoices, xero_contact: @xero_contact%>
    <%when "overdue_90days"%>
      <%= render "reminder_mailer_partials/overdue_90days_reminder_body", over_due_invoices: @over_due_invoices, xero_contact: @xero_contact%>
    <%when "new_order_hold"%>
      <%= render "reminder_mailer_partials/new_order_hold_body", over_due_invoices: @over_due_invoices, xero_contact: @xero_contact%>
    <%when "missed_payment"%>
      <%= render "reminder_mailer_partials/missed_payment_body", over_due_invoices: @over_due_invoices, xero_contact: @xero_contact%>
    <%end%>

    <%= render "reminder_mailer_partials/signature_anglica"%>
  </body>
</html>
