<!-- edited by vchar on 20180825 -->


<%= title session[:username]+"'s Groups"%>
<h3></h3>

<%= form_tag({controller: "admin", action: "group_list"}) do %>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header text-center h3">
                    Groups
                </div>
                <div class="card-body">
                    <table class="reference-table group-table table table-striped 
                        table-bordered table-hover table-responsive w-100 d-block d-table">
                        <thead>
                            <tr>
                                <th>Group Name</th>
                                <th>User</th>
                                <th><i class="fas fa-users-cog" title="Add!"></i></th>
                            </tr>
                        </thead>

                        <% @groups.each do |group|%>
                            <tr>
                                <td><%= group.group_name %></td>
                                <td><%= group.staff.nickname %></td>
                                <td>
                                    <!--Set Default Group -->
                                    <%= link_to ('<i class="fas fa-heart" 
                                        title="Set as default" style="color:  ' + 
                                        (group.id.to_s==session[:default_group].to_s ? 'red' : 'black') + 
                                        ';"></i>').html_safe, controller: 'admin', 
                                        action: 'group_list', default_group: group.id %>
                                </td>
                            </tr>
                            <tr data-href="<%= fetch_group_detail_path(group_id: group.id) %>">
                                <td colspan="3">
                                    <div class="group-items"></div>
                                </td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
    </div>
<% end %>

<script type="text/javascript">
    $('.add-group').click(function() {
        if ($('.new-group').length<1) {
            $('.group-table').append([
                '<tr class="new-group odd">',
                    '<td></td>',
                    '<td>' +
                        '<input type="text" name="staff_group[group_name]"' + 
                            'id="staff_group_group_name" class="form-control">' + 
                    '</td>',
                    '<td>' + 
                        '<button name="submit" type="submit" class="btn btn-ok" value="Create!">' +
                            '<span class="fas fa-plus"></span>' +
                        '</button>' +
                    '</td>',
                '</tr>'
            ].join());
        }
    });


    $(".group-table tr:odd").addClass("odd");
    $(".group-table tr:not(.odd)").hide();
    $(".group-table tr:first-child").show();

    var item_divisions = null;

    $(".group-table tr.odd").click(function () {
        var trToToggle = $(this).next("tr");
        $(".group-table tbody tr:not(.odd)").not(trToToggle).hide();
        item_divisions = trToToggle.find('div.group-items');

        var link = trToToggle.data('href');
        $.ajax({
            type: 'GET',
            url: link
        });

        $(trToToggle).toggle();

        $(this).find(".arrow").toggleClass("up");
    });
</script>
