<%= title session[:username]+"'s Groups"%>
<h3>Groups</h3>
<%= form_for @group, :url => {:controller => "admin", :action => "group_list"}  do |f|%>

<table class="reference-table group-table table table-striped table-bordered table-hover table-responsive ">
  <tr>
    <th>ID</th>
    <th>Group Name</th>
    <th><i class="glyphicon glyphicon-plus add-group" title="Add!"></i></th>
  </tr>
  <% @groups.each do |group|%>
  <tr>
    <td><%= group.id %></td>
    <td><%= group.group_name%></td>
    <td>
      <!--Set Default Group -->
      <%= link_to ('<i class="glyphicon glyphicon-heart" title="Set as default" style="color:  '+ (group.id.to_s==session[:default_group] ? 'red' : 'black') +';"></i>').html_safe,\
        controller: 'admin', action: 'group_list', default_group: group.id
      %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>

<script type="text/javascript">
  $('.add-group').click(function(){
    if ($('.new-group').length<1){
      $('.group-table').append([
        '<tr class="new-group">',
        '<td></td>',
        '<td><input type="text" name="staff_group[group_name]" id="staff_group_group_name"></td>',
        '<td><button name="submit" type="submit" class="btn btn-ok" value="Create!"><span class="glyphicon glyphicon-plus"></span></button></td>',
        '</tr>'
      ].join());
    }
  });
</script>
