<%= title "Admin" %>
<h3 align="center">Admin</h3>

<div align="center" style="margin-top: 50px;">
	<%= form_tag({:action => "xero_sync"}, {:method => "get"}) do %>
		<%= submit_tag "Xero Sync!", class: 'btn btn-primary' %>
		<%= submit_tag "BC Sync!", class: 'btn btn-success' %>
	<% end %>
</div>

<div align="center" style="margin-top: 50px;">
	<%= form_tag({action: 'download_csv'}, {method: 'get'}) do%>
		<%= date_field( 'date', "start_date", value: (Date.today - 30.days)) %>
		<%= date_field( 'date', "end_date", value: Date.today) %>
		<%= collection_select(nil, :status, Status.bigcommerce_status, :id, :status, {include_blank: 'Select Status'}) %>
		<br/>
		<%= submit_tag 'Customer', value: 'Customer', class: 'btn btn-success' %>
		<%= submit_tag 'Order Products', value: 'Order Products', class: 'btn btn-default' %>
		<%= submit_tag 'Orders', value: 'Orders', class: 'btn btn-info' %>
		<%= submit_tag 'Shipment', value: 'Shipment', class: 'btn btn-danger' %>
	<% end %>
		<%= link_to 'ScotPac-old', {controller: "admin", action: "scotpac", format: 'xlsx'}, class: 'btn btn-warning'  %>
		<%= link_to '<button class="btn btn-warning">ScotPac</button>'.html_safe, controller: 'status', action: 'status_check', status_name: 'ScotPac' if user_accountant %>
		<%= link_to "Stock Control", {controller: "admin", action: "export_stock_control", format: 'xlsx'}, class: "btn btn-primary" %>
</div>

<div style="margin-top: 50px;">
	<%= form_tag({:action => "password_update"}, {:method => "get"}) do %>
		<h4>Password Update : </h4>
   		  <div class="col-xs-2">
   			<%= collection_select(:staff, :id, Staff.active, :id, :nickname, {:include_blank => 'Active Staff'}, {:class => 'form-control'}) %>
   		</div>
   		<div class="col-xs-4">
   			<%= password_field_tag :new_password, nil, class: 'form-control', placeholder: 'New Password'  %>
   		</div>
   		<div class="col-xs-4">
        	<%= password_field_tag :new_password_confirmation, nil, class: 'form-control', placeholder: 'New Password Confirmation'  %>
        </div>

   		<%= submit_tag "Update", class: 'btn btn-primary' %>
	<% end %>
</div>

<div align="center" style="margin-top: 50px;" >
	<%= form_tag({:action => "export_sale_report"}, {:method => "get"}) do %>
		<div style="width: 120px;">
			<%= date_field( 'date', "end_date", value: Date.today, class: "form-control" ) %>
		</div>
		<div style="width: 120px;">
			<%= submit_tag "Sale Report", :format => "xlsx", :class => "btn btn-primary form-control" %>
		</div>
	<% end %>
</div>

<script>
  $(".sortable").railsSortable();
</script>
