<%= title "Admin" %>
<h3 align="center">Admin</h3>

<div align="center" style="margin-top: 50px;">
	<%= form_tag({:action => "xero_sync"}, {:method => "get"}) do %>
		<%= submit_tag "Xero Sync!", class: 'btn btn-primary' %>
	<% end %>
</div>

<div style="margin-top: 50px;">
	<%= form_tag({:action => "password_update"}, {:method => "get"}) do %>
		<h4>Password Update : </h4>
   		  <div class="col-xs-2">
   			<%= collection_select(:staff, :id, Staff.active, :id, :nickname, {:include_blank => 'Active Staff'}, {:class => 'form-control'}) %>
   		</div>
   		<div class="col-xs-4">
   			<%= password_field_tag :new_password, nil, class: 'form-control', placeholder: 'New Password'  %>
   		</div>
   		<div class="col-xs-4">
        	<%= password_field_tag :new_password_confirmation, nil, class: 'form-control', placeholder: 'New Password Confirmation'  %>
        </div>

   		<%= submit_tag "Update", class: 'btn btn-primary' %>
	<% end %>
</div>

<div style="margin-top: 50px;">

</div>
