<h3><%= @success %>
<center>
	<button class="button"><%= link_to "Update Products", action: 'update_products' %></button><br/><br/>
	<button class="button"><%= link_to "Update Customers", action: 'update_customers' %></button><br/><br/>
	<button class="button"><%= link_to "Update Orders", action: 'update_orders' %></button><br/><br/>
	<button class="button"><%= link_to "Import CSV", action: 'import_from_csv' %></button>

</center>
