<%relations = (activity.nil?) ? nil : activity.task_relations%>
<div class="col-md-offset-1">
  <table id="customer_table">
    <tr>
      <th>Customer</th>
      <td>
        <%= autocomplete_field_tag 'customer_name', '', autocomplete_customer_tag_name_calendar_index_path, placeholder: 'Search Customer', id: 'customer_search',size: 15 %>
      </td>
    </tr>
    <% unless relations.nil?
          customers = Customer.filter_by_ids(relations.uniq.compact.map(&:customer_id))
          customers.each do|customer| %>
    <tr id="tr_customer_<%=customer.id%>">
      <td colspan="2"><%= text_field_tag 'customer '+customer.id.to_s, customer.actual_name, readonly: true %>
        <i class="glyphicon glyphicon-remove remove" title="remove"></i>
      </td>
    </tr>
    <%end
          leads = CustomerLead.filter_by_ids(relations.uniq.compact.map(&:customer_lead_id))
          leads.each do|lead| %>
    <tr id="tr_lead_<%=lead.id%>">
      <td colspan="2"><%= text_field_tag 'lead '+lead.id.to_s, lead.actual_name, readonly: true %>
        <i class="glyphicon glyphicon-remove remove" title="remove"></i>
      </td>
    </tr>
    <% end %>
    <% end %>
  </table>
</div>

<script>
  $('#customer_search').bind('railsAutocomplete.select', function (event, data) {
    console.log(data.item);
    if ($('#tr_' + data.item.role.toLowerCase() + '_' + data.item.customer_id).length == 0) {
      $('#customer_table').append([
        '<tr id="tr_' + data.item.role.toLowerCase() + '_' + data.item.customer_id + '">',
        '<td colspan="2"><input type="text" name="' + data.item.role.toLowerCase() + ' ' + data.item.customer_id + '" id="' + data.item.role.toLowerCase() + '_' + data.item.customer_id + '" value="' + data.item.label + '" readonly="readonly"><i class="glyphicon glyphicon-remove remove" title="remove"></i></td>',
        '</tr>'
      ].join(''));
      $('.remove').click(function () {
        if (data.item.role == "Customer") {
          $('.tr_invoice_' + data.item.customer_id).remove();
        }
        $(this).parent().parent().remove();
      });
    }
  });

  $('.remove').click(function () {
    $(this).parent().parent().remove();
  });
</script>
