<div class="row">
  <%= render 'activity_partials/customer_search', activity: activity%>
  <%= render 'activity_partials/note_table', f: f, activity: activity%>
  <%= render 'activity_partials/wine_note', activity: activity, products: @products%>
  <div class="col-md-8 complete_form">
  <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
    <div> Edit </div>
  <% end %>
  </div>
  <div class="col-md-8 incomplete_form">
    <p style="color: red" class="activity_reminder">Please Select Subject / Customer</p>
    <button name="button" class="btn btn-secondary disabled" disabled>
      <div>Save</div>
    </button>
  </div>
  <%= render 'activity_partials/invoice_table'%>
</div>

<script>
<%
  customer = @customer_text==nil ? nil : Customer.where('customers.actual_name = ?', @customer_text).first
  unless customer.nil?
    invoices = nil
    invoices = XeroInvoice.where('xero_invoices.xero_contact_id = ? AND xero_invoices.amount_due > 0', customer.xero_contact_id) unless customer.xero_contact_id.nil?
%>
      if($('#tr_customer_<%=customer.id%>').length == 0){
        $('#customer_table').append([
          '<tr id="tr_customer_<%=customer.id%>">',
              '<td colspan="2"><%= text_field_tag 'customer '+customer.id.to_s, customer.actual_name, readonly: true %><i class="glyphicon glyphicon-remove remove_customer" title="remove"></i></td>',
          '</tr>'
          ].join(''));
        <% invoices.each do |invoice|%>
        $('#invoice_table').append([
          '<tr class="tr_invoice_<%=customer.id%>">',
              '<td><%= customer.actual_name%></td>',
              '<td><%= invoice.invoice_number%></td>',
              '<td><%= invoice.date.to_date.strftime("%d/%-m/%y")%></td>',
              '<td class="num"><%= invoice.sub_total%></td>',
              '<td class="num"><%= invoice.amount_due%></td>',
              '<td><%= invoice.due_date.to_date.strftime("%d/%-m/%y")%></td>',
              '<td><%= Date.today.mjd - invoice.due_date.to_date.mjd%> Days</td>',
              '<td><i class="glyphicon glyphicon-remove remove_invoice" title="remove"></i></td>',
          '</tr>'
        ].join(''));
          $('.remove_invoice').click(function(){
            $(this).parent().parent().remove();
          });
        <% end %>
        $('.remove_customer').click(function(){
          var att = $(this).parent().parent().attr('id').split('_');
          var customer_id = att[att.length -1 ]
          $('.tr_invoice_'+customer_id).remove();
          $(this).parent().parent().remove();
        });
      }
<%end%>

var CompleteForm = function(){
  if ((($('input[id*=customer ]').length > 1) || ($('tr[id*=tr_lead ]').length > 0)) && ($('textarea[id=task_description]').val() != "") && ($('#task_subject_1 option:selected').val()!="")){
    $('.complete_form').show();
    $('.incomplete_form').hide();
  }else{
    $('.complete_form').hide();
    $('.incomplete_form').show();
  };
};
CompleteForm();

$('.activity-customers').click(function(){
  CompleteForm();
});
$('.remove_customer').click(function(){
  CompleteForm();
});

$('#task_subject_1').on('change',function(){
  CompleteForm();
});
</script>
