<div class="row">
    <div class="col-md-6 mb-3">
        <%
            if activity.nil?
                selected_function = default_function_type(session[:authority])
                selected_subject = 0
                selected_method = 'meeting'
                selected_promotion = 0
                selected_portfolio = 0
                staff_list = [session[:user_id]]
                staff_list = staff_list.append(Customer.find(@customer_id.to_i).staff_id) unless @customer_id.nil?
                staff_list = staff_list.append(CustomerLead.find(@lead_id.to_i).staff_id) unless @lead_id.nil?
            else
                selected_function = activity.function
                selected_subject = activity.subject_1
                selected_method = activity.method
                selected_promotion = activity.promotion_id
                selected_portfolio = activity.portfolio_id
                staff_list = activity.task_relations.map(&:staff_id).append(session[:user_id]).uniq.compact
            end
        %>
        <div class="row">
            <div class="col-lg-6 col-sm-6 mb-2">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            Subject
                        </span>
                    </div>
                    <%= f.collection_select :subject_1, @subjects, :id, :subject, 
                        { :prompt => "Select a subject", :selected => selected_subject }, 
                        { class: "subject_selection form-control" } %>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-2">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            Function
                        </span>
                    </div>
                    <%= f.collection_select :function, @function, :function, :function, 
                        { :include_blank => "Select a Function", :selected => selected_function }, 
                        { class: "function_selection form-control" } %>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-2">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            Priority
                        </span>
                    </div>
                    <%= f.number_field :priority, { min: 1, max:6, step:1, 
                        id: 'task_priority' }%>
                    <%= rateit(type:"span", backingfld: '#task_priority', 
                        max:6, min:1, step:1, resetable:'false') %>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-2">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            Method
                        </span>
                    </div>
                    <%= f.collection_select :method, TaskMethod.all, :method, :method, 
                        { :include_blank => "Select a Method", :selected => selected_method }, 
                        { class: "form-control" } %>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-2">
                <div class="input-group input-group-sm date" id='start_timepicker'>
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            Start
                        </span>
                    </div>
                    <%= f.text_field :start_date, placeholder: 'Timepicker', class: 'form-control' %>
                    <div class="input-group-append">
                        <span class="input-group-addon input-group-text">
                            <span class="far fa-calendar-alt"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-2">
                <div class="input-group input-group-sm date" id='due_timepicker'>
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            End
                        </span>
                    </div>
                    <%= f.text_field :end_date, placeholder: 'Timepicker', class: 'form-control' %>
                    <div class="input-group-append">
                        <span class="input-group-addon input-group-text">
                            <span class="far fa-calendar-alt"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-2">
                <table id="staff_table" class="mt-0 w-100 d-block d-table">
                    <tr>
                        <td class="p-1">
                            <%= autocomplete_field_tag 'staffs', '', 
                                autocomplete_staff_nickname_activity_index_path, 
                                placeholder: 'Search staff', id: 'staff_search', 
                                class: "form-control form-control-sm" %>
                        </td>
                    </tr>
                    <% begin %>
                        <% Staff.filter_by_ids(staff_list).each do |staff| %>
                            <tr id="tr_staff_<%=staff.id%>">
                                <td class="p-1">
                                    <div class="input-group">
                                        <%= text_field_tag 'staff '+staff.id.to_s, staff.nickname,
                                            readonly: true, class: "form-control form-control-sm" %>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="far fa-trash-alt remove_staff" title="remove"></i>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <% end %>
                    <% rescue %>
                    <% end %>
                </table>
            </div>
            <div class="col-lg-6 col-sm-6 mb-2" id="calendar_radio">
                <label class="btn-outline-secondary btn-sm mb-0 disabled">Add to Calendar:</label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary btn-sm">
                        <%= radio_button_tag(:event_column, "yes", false) %> Yes
                    </label>
                    <label class="btn btn-secondary btn-sm">
                        <%= radio_button_tag(:event_column, "no", true) %> No
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="btn group" id="task_timepicker" role="group" data-toggle="buttons" aria-label="Task Due">
            <div class="row">
                <label class="btn-outline-secondary btn-sm col-1 mb-0 disabled">Due</label>
                <div class="col-11">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary btn-sm">
                            <%= radio_button_tag(:task_due, "1", false) %> 1 Day
                        </label>
                        <label class="btn btn-secondary btn-sm">
                            <%= radio_button_tag(:task_due, "2", false) %> 2 Days
                        </label>
                        <label class="btn btn-secondary btn-sm">
                            <%= radio_button_tag(:task_due, "3", false) %> 3 Days
                        </label>
                        <label class="btn btn-secondary btn-sm">
                            <%= radio_button_tag(:task_due, "7", true) %> 1 Week
                        </label>
                        <label class="btn btn-secondary btn-sm">
                            <%= radio_button_tag(:task_due, "14", false) %> 2 Weeks
                        </label>
                        <label class="btn btn-secondary btn-sm">
                            <%= radio_button_tag(:task_due, "28", false) %> 4 Weeks
                        </label>
                    </div>
                </div>
            </div>
        </div>  

        <%= f.text_area :description, :placeholder => "task description", 
            :rows=>7, class: 'form-control text-monospace'  %>
    </div>
</div>

<script>
    $('#staff_search').bind('railsAutocomplete.select', function (event, data) {
        if ($('#tr_staff_' + data.item.id).length == 0) {
            $('#staff_table').append([
                '<tr id="tr_staff_' + data.item.id + '">',
                '<td colspan="2"><input type="text" name="staff ' + data.item.id + '" id="staff_' + data.item.id + '" value="' + data.item.nickname + '" readonly="readonly"><i class="glyphicon glyphicon-remove remove_staff" title="remove"></i></td>',
                '</tr>'
                ].join(''));
            $('.remove_staff').click(function () {
                $(this).parent().parent().remove();
            });
        }
    });

    $('.remove_staff').click(function () {
        $(this).parent().parent().remove();
    });

    $(function () {
        $('#start_timepicker').datetimepicker({format: 'YYYY-MM-DD hh:mm a', defaultDate: new Date(), sideBySide: true});
        $('#due_timepicker').datetimepicker({format: 'YYYY-MM-DD hh:mm a', defaultDate: new Date(), sideBySide: true});

        $('#start_timepicker').on("dp.change", function (e) {
            $('#due_timepicker').data("DateTimePicker").minDate(e.date);
        });

        <% unless activity.nil?%>
        $('#start_timepicker').data("DateTimePicker").date("<%= activity.start_date.to_date.to_s %>");
        $('#due_timepicker').data("DateTimePicker").date("<%= activity.end_date.to_date.to_s %>");
        <% end %>
    });

    $(document).ready(function () {
        $('input[type=radio][name=event_column]').on('change', function () {
            if (this.value == 'yes') {
                $('#due_timepicker').data("DateTimePicker").date($('#start_timepicker').data("DateTimePicker").date().add("hours", '1'));
                $('#task_timepicker').hide();
            } else {
                $('#task_timepicker').show();
            }
        });

        $('input[type=radio][name=task_due]').on('change', function () {
            $('#start_timepicker').data("DateTimePicker").date($('#start_timepicker').data("DateTimePicker").date().add("days", this.value));
            $('#due_timepicker').data("DateTimePicker").date($('#start_timepicker').data("DateTimePicker").date());
        });
    });
</script>
