<div class="col-md-8">
  <div class="col-md-8">
    <%= label(:wine, "Wine:")%>
  </div>
  <div class="col-md-4">
    <%= autocomplete_field_tag 'product', '', autocomplete_product_name_activity_index_path, placeholder: 'Search Product', id_element: '#product_id'%>
  </div>
  <table class="table table-striped table-bordered table-hover table-responsive" style="margin-top: 0px;">
    <tr style="width: 90%; padding: 5px" class="info">
      <th>Product #</th>
      <th>Wine</th>
      <th>Price(LUC)</th>
      <th>Price</th>
      <th>Notes</th>
      <!-- Ratio Button -->
      <th>Buy</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
  </table>
  <%= label(:creator, "Creator:")%>
  <%= session[:username] %>
  <%= label(:create_date, "Create Date") %>
  <%= Date.today%>
</div>
