<div class="col-md-8">
  <div class="col-md-4">
    <%= label(:wine, "Wine:")%>
  </div>
  <div class="col-md-8">
    <%= autocomplete_field_tag 'product', '', autocomplete_product_name_activity_index_path, placeholder: 'Search Product', id_element: '#product_id', id: 'product_search'%>
    <i class="glyphicon glyphicon-plus add_row_product" title="Add in the table"></i>
  </div>
  <br/>
    <button type="button" class="btn btn-default" id="sample-20">Last 20 Samples</button>
  <br/>

  <div class="wine-list">
    <% products.each do |product|%>
      <div class='col-xs-6 wine-list-product' id='<%= product.id%>'>
        <a><%= product.name%></a>
      </div>
    <% end %>
  </div>

  <table class="table table-striped table-bordered table-hover table-responsive" style="margin-top: 0px;" id="product_table">
    <tr style="width: 90%; padding: 5px" class="info">
      <th>Product #</th>
      <th>Wine</th>
      <th>Price(LUC)</th>
      <th>Discount</th>
      <th>Price</th>
      <th>Notes</th>
      <th>Buy</th>
      <th>Rating</th>
    </tr>
    <% unless activity.nil?
        begin
          activity.product_notes.each do |p_note|
    %>
      <tr id="tr_<%=p_note.product_id%>">
        <td><%= p_note.product_id%></td>
        <td><%= text_field_tag 'product_name '+p_note.product_id.to_s, p_note.product_name, readonly:true %></td>
        <td class="num"><%= text_field_tag 'price_luc '+p_note.product_id.to_s, "%.2f" %(p_note.price_luc), readonly: true%></td>
        <td><%= text_field_tag 'discount '+p_note.product_id.to_s, 100 - (p_note.price * 100 / p_note.price_luc).to_i, placeholder: 'Discount', size: 3 %> %</td>
        <td><%= text_field_tag 'price '+p_note.product_id.to_s,"%.2f" %(p_note.price), placeholder: 'Price', size: 5%></td>
        <td><%= text_field_tag 'note '+p_note.product_id.to_s, p_note.note%></td>
        <td><%= check_box_tag 'buy_wine[]', p_note.product_id.to_s, (p_note.intention == 1 ? true : false)%> </td>
        <td>
            <%= number_field_tag(:rating, nil, {min: 1, max:5, step:1, id: 'rate_'+p_note.product_id.to_s}) %>
            <%=rateit(type:"span", backingfld: '#rate_'+p_note.product_id.to_s, max:5, min:1, step:1, resetable:'false')%>
        </td>
        <td><i class="glyphicon glyphicon-remove remove_row" title="remove"></i></td>
      </tr>
    <%
          end
        rescue
        end
    %>
    <% end %>
  </table>
  <%= label(:creator, "Creator:")%>
  <%= session[:username] %>
  <%= label(:create_date, "Create Date") %>
  <%= Date.today%>
</div>

<script>
  $('.wine-list-product').hide();
  $('#sample-20').click(function(){
    $('.wine-list-product').toggle();
  });
</script>
